/* HTML5 Audio player with playlist styles */

#sevendigital-player-wrapper .group-left {
    width: 215px;
    float: left;
}

#sevendigital-player-wrapper .group-right {
    width: 400px;
    float: left;
}

#sevendigital-player-wrapper .player {
    background: #363636;
    height: 85px;
    position: relative;
    width: 650;
    z-index: 2;
}
#sevendigital-player-wrapper .player .pl {
    cursor: pointer;
    height: 34px;
    left: 270px;
    top: 20px;
    width: 32px;
    display: none;
}
#sevendigital-player-wrapper .mp3-stars span.label {
    display: inline-block;

}
#sevendigital-player-wrapper .mp3-stars span.star {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 1px;
}
#sevendigital-player-wrapper .mp3-stars span.on {
    background: transparent url("../img/7d-player-star-on.png") no-repeat scroll 0 0;
}
#sevendigital-player-wrapper .mp3-stars span.off {
    background: transparent url("../img/7d-player-star-off.png") no-repeat scroll 0 0;
}
#sevendigital-player-wrapper .mp3-tags span {
    background: #ef4e34;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: auto;
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 14.4px;
    padding: 7px;
    margin: 0px 4px 4px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#sevendigital-player-wrapper .player .controls .control {
    cursor: pointer;
    margin: 6px;
    margin-top: 10px;
}

#sevendigital-player-wrapper .player .controls .play {
    background: transparent url("../img/7d-player-play.png") no-repeat scroll 0 0;
    height: 65px;
    width: 65px;
    float: left;
}
#sevendigital-player-wrapper .player .controls .pause {
    background: transparent url("../img/7d-player-pause.png") no-repeat scroll 0 0;
    height: 65px;
    width: 65px;
    float: left;
    display: none;
}
#sevendigital-player-wrapper .player .controls .rew {
    background: transparent url("../img/7d-player-back.png") no-repeat scroll 0 0;
    height: 53px;
    width: 53px;
    float: left;
    margin-top: 15px;
}
#sevendigital-player-wrapper .player .controls .fwd {
    background: transparent url("../img/7d-player-next.png") no-repeat scroll 0 0;
    height: 53px;
    width: 53px;
    float: left;
    margin-top: 15px;
}
#sevendigital-player-wrapper .player .controls .logo {
    background: transparent url("../img/7d-player-logo.png") no-repeat scroll 0 0;
    height: 21px;
    width: 60px;
    float: right;
    margin-top: 10px;
    cursor: auto;
}

#sevendigital-player-wrapper .player .controls .buy {
    background: transparent url("../img/7d-player-buy.png") no-repeat scroll 0 1px;
    height: 21px;
    width: 75px;
    float: right;
    padding-left: 27px;
}

#sevendigital-player-wrapper .player .controls .buy a {
    
}

#sevendigital-player-wrapper .hidden {
    display: none;
}
#sevendigital-player-wrapper .player .controls .visible {
    display: block;
}
#sevendigital-player-wrapper .player .tracker-wrapper {
    float: left;
    width: 278px;
    margin: 15px;
}
#sevendigital-player-wrapper .player .title {
    color: #fff;
    font-size: 18px;
    margin-top: 4px;
    overflow: hidden;
    height: 25px;
}
#sevendigital-player-wrapper .player .tracker {
    height: 5px;
    width: 250px;
    margin-top: 10px;
    border: none;
}
#sevendigital-player-wrapper .player .ui-slider-range {
    background: #f6522d;
    height: 100%;
    top: 0;
}
#sevendigital-player-wrapper .player .ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    display: none;
}

#sevendigital-player-wrapper .playlist {
    display: none ;
}