/* ======================================================================================================================== 
** 
** Variable Grid System (Fluid Version).
** Learn more ~ http://www.spry-soft.com/grids/
** Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
** 
** Licensed under GPL and MIT.
**
** ======================================================================================================================== */


body {
  min-width: 95%;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-12 {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	display:inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container-12 .grid-1,
.container-12 .grid-2,
.container-12 .grid-3,
.container-12 .grid-4,
.container-12 .grid-5,
.container-12 .grid-6,
.container-12 .grid-7,
.container-12 .grid-8,
.container-12 .grid-9,
.container-12 .grid-10,
.container-12 .grid-11,
.container-12 .grid-12 {
	width:98.0%;
}

.align_center,
.align_right {
  text-align: left;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* grid  */
body.show-grid .container-12 {
  background: url(960/gridmobile.png) repeat-y top center !important;
}

/*----------------------------------------------------------------------------------------------------*/

