#main, #block-block-24, #block-block-25 {
  margin-top: 15px;
}
#block-views-Akkordeon-block_1 {
  padding-top: 15px;
}

#user-loging-register ul, #user-loging-register ul li {
  list-style-type: none;
  background: none;
}
#user-loging-register ul #register_link {
  background-image: none !important;
  padding: 0px !important;
}

#header {
  height: 100px;
}

#block-google_cse-0 #edit-query-wrapper, #block-google_cse-0 #edit-query-1-wrapper {
  width: 240px;
  height: 25px;
  padding: 5px 5px 0px;
  background: url('head_search_bg_neu.gif') no-repeat !important;
  text-align: center;
  margin: 0px 5px 0px 20px;
  float: left;
} 
#block-google_cse-0 #edit-query-wrapper input, #block-google_cse-0 #edit-query-1-wrapper input, #google-cse-results-searchbox-form #edit-query-wrapper input, #google-cse-results-searchbox-form #edit-query-1-wrapper input {
  text-align: left;
  color: #B4BEC1;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial,Verdana,sans-serif;
}
#block-google_cse-0 #edit-query-wrapper input, #block-google_cse-0 #edit-query-1-wrapper input {
  width: 230px;
}
#google-cse-results-searchbox-form #edit-query-wrapper input, #google-cse-results-searchbox-form #edit-query-1-wrapper input {
  width: 480px;
}
#google-cse-results-searchbox-form #edit-query-wrapper, #google-cse-results-searchbox-form #edit-query-1-wrapper  {
  background: url('head_search_bg_neu-480.gif') no-repeat !important;
  width: 490px;
  height: 28px; 
  border: none !important;
  padding: 5px 8px 0px;
  float: left;
  margin: 0px 5px 0px 0px;
}
#block-google_cse-0 {
  margin: 5px 0px;
}
#google-cse-results, #google-cse-results iframe {
  height: 1500px;
  clear: left;
}
#google-cse-searchbox-form input:focus, #google-cse-searchbox-form input, #google-cse-results-searchbox-form input:focus, #google-cse-results-searchbox-form input {
  outline: none;
  border: none !important;
} 
#google-cse-results-searchbox-form input.form-text, #google-cse-searchbox-form input.form-text {
  background: none !important;
}

#google-cse-results-searchbox-form {
  width: 600px;
  margin-top: 15px;
}

.page-search h4 {
  display: none;
}


#block-google_cse-0 #google-cse-searchbox-form input.form-submit, #google-cse-results-searchbox-form input.form-submit {
font-size: 12px;
color: white;
font-weight: bold;
background: transparent url('head_search_btn_sprite_neu.gif') top left no-repeat;
border: 0;
padding: 5px 7px 6px;
cursor: pointer;
position: relative;
width: 72px;
}
#block-google_cse-0 #google-cse-searchbox-form input.form-submit:hover, #block-google_cse-0 #google-cse-searchbox-form input.form-submit:active, #block-google_cse-0 #google-cse-searchbox-form input.form-submit:focus, #google-cse-results-searchbox-form input.form-submit:hover, #google-cse-results-searchbox-form input.form-submit:active, #google-cse-results-searchbox-form input.form-submit:focus {
  background-position: 0 -27px;
}
#google-cse-results-searchbox-form #edit-query-wrapper label, #google-cse-results-searchbox-form #edit-query-1-wrapper label {
  display: none;
}
.page-search #col3 {
  display: none;
}

.fb-comments {
  margin: 20px 0px;
}

#mp3_page_10 .view-content ul li img {
    border: 1px solid #D9DEE0;
    display: inline;
    float: left;
    height: 120px;
    margin: 0 0.8em 2px 0;
    padding: 1px;
    width: 120px;
}
#mp3_page_10 .view-content ul li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #D9DEE0;
    height: auto !important;
    list-style: none outside none;
    margin: 0;
    min-height: 140px;
    padding: 8px 0 10px;
}
#mp3_page_10 .view-content ul li ol {
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#mp3_page_10 .view-content ul li ol li {
    background: url("../../images/star_rating.gif") no-repeat scroll -14px 0 transparent;
    border: 0 none !important;
    display: inline;
    float: left;
    height: 12px !important;
    list-style: none outside none;
    margin: 3px 0 0;
    min-height: 0 !important;
    padding: 0;
    text-indent: -9999px;
    width: 13px;
}
#mp3_page_10 .view-content ul li ol li.rated {
    background-position: 0 0;
}
h1.art_title {
  position: relative;
}
#block-block-10 #home_page_9 .text_box h4 {
    background: none repeat scroll 0 0 transparent;
    font-size: 100.01%;
    padding: 0;
}
#block-block-10 #home_page_9 {
  margin-bottom: 20px;
}
.authortag {
  margin-top: 15px !important;
}

#neues_page_7 .mp3_content .mehr {
  text-align: right;
  margin-bottom: 10px;
}

#neues_page_7 .mp3_content p {
  margin: 10px 0px;
}

#mp3_tbl td {
  border: none;
}

#neues_page_7 .vo_date{
    background: none repeat scroll 0 0 #F04E23;
    color: #FFFFFF;
    font-size: 11px;
    margin-right: 5px;
    padding: 0 5px;
}

.view-filters {
  margin: 15px;
  color: #999999;
}
#events_page_2 .view-filters .views-exposed-widget {
  width: 153px; 
}
#events_page_2 .view-filters .views-submit-button {
  width: 70px; 
  padding: 0px;
}
#events_page_2 .view-filters input.form-text {
  text-align: left;
  color: #B4BEC1;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial,Verdana,sans-serif;
  background: url('head_search_bg_neu-150.gif') no-repeat center left; 
  border: none; 
  height: 28px;
  padding: 0px 4px;
  width: 142px;
}
.view-filters input.form-submit {
font-size: 12px;
color: white;
font-weight: bold;
background: transparent url('head_search_btn_sprite_neu.gif') top left no-repeat;
border: 0;
padding: 5px 7px 6px;
cursor: pointer;
width: 72px;
}

.view-filters input.form-submit:hover, .view-filters input.form-submit:active {
  background-position: 0 -27px;
}
#ad_container_marginal{text-align:left;}
#ad_container_marginal div{clear:none ! important;}
