

.js_accordion{
	height:300px;
	width:940px;
	overflow:hidden;
	color:#fff;
	background-color:#fff;
	margin-left: 2px;
}
.js_accordion li{
	position:relative;
	display:inline;
	float:left;
	margin:0;
	height:300px;
	width:53px;
	border-right:1px solid #fff;
	overflow:hidden;
}
.js_accordion .last{
	border:0 none;
}
.js_accordion h3{
	position:absolute;
	left:58px;
	top:6px;
	z-index:2;
	margin:0;
	padding:0;
	background-color:transparent;
	font-weight:400;
	font-size:2em;
	line-height:1.0833em;
}
.js_accordion .album{
	font-size:.6666em;
	line-height:1.5em;}
.js_accordion a,
.js_accordion a:hover,
.js_accordion a:visited{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
.js_accordion h3 span{
	display:inline-block;
	margin-bottom:2px;
	padding:2px 5px;
	background:transparent url(../img/bg_black_75.png) repeat scroll 0 0;
	white-space:nowrap;
}
.js_accordion .accordion_vertical{
	position:absolute;
	left:-124px;
	top:124px;
	width:300px;
	height:53px;
	z-index:3;
	cursor:pointer;
	font-size:1.08333em;
	line-height:3.6em;
	text-transform:uppercase;
	background:transparent url(../img/bg_black_50.png) repeat scroll 0 0;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
.js_accordion .accordion_name{
	position:absolute;
	top:0px;
	right:10px;
}
.js_accordion .accordion_category{
	position:relative;
	top:2px;
	left:5px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:0 5px;
	font-weight:400;
	font-size:1.3846em;
	line-height:1.6666em;
	background:transparent url(../img/bg_black_75.png) repeat scroll 0 0;
	margin-right: 5px;
}
.js_accordion img{
	position:absolute;
	right:0;
	top:0;
	z-index:1;
}
.js_accordion .accordion_all_link{
	position:absolute;
	right:3px;
	bottom:3px;
	z-index:2;
	padding-left:5px;
	font-size:.9166em;
	line-height:1.9090em;
	white-space:nowrap;
	background:transparent url(../img/bg_black_75.png) repeat scroll 0 0;
}
.js_accordion .accordion_all_link span{
	padding-right:20px;
	background:transparent url(../img/accordion_arrow.png) no-repeat scroll right center;
}
.js_accordion .accordion_download{
	position:absolute;
	top:78px;
	left:58px;
	z-index:2;
	padding:0 5px 0 0;
	font-size:1.1666em;
	line-height:1.4285em;
	white-space:nowrap;
	background:transparent url(../img/bg_black_75.png) repeat scroll 0 0;
}
.js_accordion .accordion_download span{
	display:inline-block;
	margin-right:5px;
	padding:0 5px;
	background-color:#f04e23;
	font-size:1em;
	line-height:1.4285em;
	text-transform:uppercase;
}
.js_accordion h3 a:hover span,
.js_accordion h3 a:active span,
.js_accordion h3 a:focus span,
.js_accordion .accordion_all_link:hover,
.js_accordion .accordion_all_link:active,
.js_accordion .accordion_all_link:focus,
.js_accordion .accordion_download:hover,
.js_accordion .accordion_download:active,
.js_accordion .accordion_download:focus{
	background:transparent url(../img/bg_orange_75.png) repeat scroll 0 0;
}
