/*
 * This CSS is the one developed by Tecnilogica and used in sass/main_mobile.scss to generate main_mobile.css
 *
 */


@media all
and (min-width: 320px)
and (max-width: 568px) {
    #maincontent.mastcontent #content .block {
        margin-bottom: 5px;
    }

    #maincontent.mastcontent #content h1.title,
    #maincontent.mastcontent #content h2.title,
    #maincontent.mastcontent #overcontent .block h2,
    #maincontent.mastcontent #undercontent .block h2,
    #maincontent.mastcontent #content .block h2 {
        margin-bottom: 0;
        padding: 10px;
    }

    #maincontent.mastcontent #content-inner {
        margin: 0;
        position: static;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .sortby_filter {
        margin-left: 5px;
        position: static;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .sortby_filter label {
        padding: 4px;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .sortby_filter label,
    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .sortby_filter ul.sortby_list li a {
        font-size: 11px;
        line-height: inherit;
        margin: 0;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .view-content .ds-2col {
        float: none;
        width: 100%;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .view-content .ds-2col .group-left {
        float: left;
        height: auto;
        margin-right: 0;
        width: 100%;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .view-content .ds-2col .group-right {
        float: left;
        margin: 10px;
        width: auto;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-album-reviews .view-content .ds-2col.clearfix::after {
        margin-bottom: 20px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter {
        position: absolute;
        right: 0;
        top: 4px;
        width: 95px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter label.selected {
        font-size: 13px;
        padding: 4px 20px 5px 10px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter label.selected:after {
        padding: 7px 9px;
    }

    .container-12 .grid-12,
    .container-12 #content-inner.grid-8,
    .container-12, footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu,
    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-block.lastchild {
        width: 100%;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner,
    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-block.lastchild {
        width: auto;
    }

    body {
        min-width: inherit;
    }

    #maincontent.mastcontent #undercontent .block,
    div#block-views-highlights-block-accordion,
    #maincontent.mastcontent #sidebar-right,
    div#bannerright,
    div#bannertop,
    footer.mastfooter #footerbottom-wrapper .block .logolist,
    #maincontent.mastcontent #overcontent-wrapper,
    header.mastheader #headerbottom-wrapper.block,
    div#block-views-videos-block-videos-home,
    div#block-views-exp-search-page-search,
    div#block-views-events-block-events-home,

    /* Slideshows */
    #block-views-artists-block-artists-related,
    #block-views-7a53ff38b7510e637d6df5a005ea34ba,
    #block-views-2ef56b55a5cc84ac69fbc2336a6119cf,
    #block-views-c6c5ab5e95fa0d92879ac2a259ba8edc,
    #block-views-videos-block-videos-popular,
    #block-views-videos-block-videos-recommended,
    #block-views-4be6c3bb2ea1cec173bec90e96ee0a4c {
        display: none !important;
    }

    footer.mastfooter #footerbottom-wrapper {
        height: 42px;
    }

    footer.mastfooter #footerbottom-wrapper .block .copyright {
        float: right;
        margin-right: 10px;
        padding-top: 10px;
    }

    header.mastheader #headerbottom-wrapper {
        height: 34px;
    }

    header.mastheader #headerbottom-wrapper .navigation-default ul.menu {
        display: block;
        margin-top: 6px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    header.mastheader #headerbottom-wrapper .navigation-default ul.menu li {
        display: inline-block;
        float: none;
        margin-right: -.25em;
        position: relative;
        top: 1.25em;
    }

    header.mastheader #headerbottom-wrapper .navigation-default ul.menu li a {
        font-size: 14px;
    }

    header.mastheader #headerbottom-wrapper .navigation-default ul.menu:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    header.mastheader #headerbottom-wrapper .navigation-default ul.menu:before {
        content: '';
        display: block;
        margin-top: -1.25em;
    }

    ul.pager {
        padding: 10px 0 11px !important;
    }

    ul.pager li, ul.pager li a {
        font-size: 11px;
        line-height: 25px;
    }

    ul.pager li.pager-item, ul.pager li.pager-ellipsis,
    ul.pager li.pager-current {
        height: 25px;
        width: 25px;
    }

    ul.pager li.pager-next, ul.pager li.pager-previous,
    ul.pager li.pager-first, ul.pager li.pager-last {
        display: none;
    }

    #maincontent.mastcontent {
        padding-top: 95px;
    }

    #maincontent.mastcontent #undercontent-inner #block-quicktabs-lists .quicktabs-wrapper .quicktabs_main .quicktabs-tabpage .views-summary .result {
        display: inline-block;
        width: 28px;
        height: 28px;
    }

    #maincontent.mastcontent #undercontent-inner #block-quicktabs-lists .quicktabs-wrapper .quicktabs_main .quicktabs-tabpage .views-summary .result a {
        padding: 0;
    }

    #maincontent.mastcontent #content-wrapper {
        margin-bottom: 0;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-block.lastchild,
    div.view-display-id-block_videos_artist,
    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists {
        margin-left: 10px;
        margin-right: 10px;
    }

    #maincontent.mastcontent #content-inner .region #block-system-main.block-system .view-artists .attachment.attachment-before {
        margin-right: 18px;
        top: -58px;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists .content .views-widget {
        display: block;
        float: none;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists .content .views-widget input[type="text"] {
        width: 97%;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists .content .views-exposed-form .views-exposed-widget {
        width: 100%;
        padding: 0;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists .content .views-exposed-form .views-exposed-widget.views-submit-button {

    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists .content label {
        display: block;
        float: none;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-search-page-search-artists {
        margin-bottom: 15px;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu ul li.expanded,
    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu ul li.expanded.first {
        width: 28%;
        margin-left: 10px;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu ul li.expanded ul li {
        margin-bottom: 0;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu ul li.expanded a {
        font-size: 15px;
    }

    footer.mastfooter #footertop-wrapper #footertop-inner .block.block-menu {
        margin-bottom: 10px;
    }

    footer.mastfooter #footertop-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter .drop {
        left: -91px;
        top: -5px;
        padding: 7px 10px 7px 5px;
        border-top-right-radius: 0;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter .drop .form-item {
        margin: 0;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter .drop div.form-type-bef-link a {
        font-size: 15px;
    }

    #maincontent.mastcontent #content-inner .block-menu#block-menu-menu-artist-submenu .content ul.menu,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper,
    #maincontent.mastcontent #content-inner .block-menu .content ul.menu {
        height: auto;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }



    #maincontent.mastcontent #content-inner .block-menu#block-menu-menu-artist-submenu .content ul.menu:after,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper:after,
    #maincontent.mastcontent #content-inner .block-menu .content ul.menu:after{
        content: '';
        display: inline-block;
        width: 100%;
    }

    #maincontent.mastcontent #content-inner .block-menu#block-menu-menu-artist-submenu .content ul.menu:before,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper:before,
    #maincontent.mastcontent #content-inner .block-menu .content ul.menu:before{
        content: '';
        display: block;
        margin-top: -1.25em;
    }

    #maincontent.mastcontent #content-inner .block-menu#block-menu-menu-artist-submenu .content ul.menu li,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper > span,
    #maincontent.mastcontent #content-inner .block-menu .content ul.menu li {
        padding: 0;
        margin: 0;
        display: inline-block;
        margin-right: -.25em;
        position: relative;
        top: 1.25em;
        float: none;
        border: none;
    }
    #maincontent.mastcontent #content-inner .block-menu#block-menu-menu-artist-submenu .content ul.menu li a,
    #maincontent.mastcontent #content-inner .block-menu .content ul.menu li a {
        font-size: 12px;
    }

    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper {
        padding: 0;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-left,
    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-right {
        width: auto;
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .more-link,
    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col a.detail-behaviour-action {
        right: 10px;
        font-size: 13px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col a.detail-behaviour-action {
        top: 11px;
    }

    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .more-link {
        top: 20px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-right .field.field-name-field-date,
    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-left .field-name-event-heading,
    #maincontent.mastcontent #content-inner .region #block-system-main.block-system .view-artists .attachment.attachment-before a,
    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .content label,
    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .content .views-widget input[type="text"] {
        font-size: 13px;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .content label {
        display: inline-block;
        width: 35px;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .views-exposed-widget {
        width: 80%;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .views-exposed-widget.views-submit-button {
        width: 16%;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .content .views-widget input[type="text"] {
        width: 100% !important;
    }

    #maincontent.mastcontent #content-inner .region #block-views-exp-events-page-concerts .content .views-widget {
        width: 80%;
    }


    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-right .field {
        font-size: 12px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-events-block-events-artist .view-content .ds-2col .group-right .field.field-name-field-link {
        margin-top: -50px;
    }

    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper > span {
        margin-right: 0;
    }

    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block .sharethis-wrapper {
        overflow: visible;
        margin-bottom: 0;
    }

    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-tonspion-tonspion-archive-filter ul.filter li {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-tonspion-tonspion-archive-filter ul.filter li.year {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-tonspion-tonspion-archive-filter ul.filter li.year a,
    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-tonspion-tonspion-archive-filter ul.filter li.year div.item-list-inside a {
        font-size: 13px;
        margin-bottom: 0;
    }

    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .view-content .ds-2col .group-left,
    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .view-content .ds-2col .group-right,
    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .view-content .ds-2col,
    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .view-content > div,
    body.page-node.node-type-artist #block-views-news-block-news-from-artist .view-content .ds-2col,
    body.page-node.node-type-artist #block-views-news-block-news-from-artist .view-content > div,
    body.page-node.node-type-artist #block-views-news-block-news-from-artist .view-content .ds-2col .group-left,
    body.page-node.node-type-artist #block-views-news-block-news-from-artist .view-content .ds-2col .group-right,
    body.page-node-news #block-system-main .view-display-id-page_news_artist .view-content .ds-2col .group-left,
    body.page-node-news #block-system-main .view-display-id-page_news_artist .view-content .ds-2col .group-right,
    body.page-node-news #block-system-main .view-display-id-page_news_artist .view-content .ds-2col,
    #sevendigital-player-wrapper .group-right,
    #sevendigital-player-wrapper .group-left,
    body.page-node.node-type-news #block-system-main .ds-2col-stacked .group-left,
    body.page-mp3 .view-album-reviews .view-content .ds-2col .group-left,
    body.page-mp3 .view-album-reviews .view-content .ds-2col .group-right,
    body.page-mp3 .view-album-reviews .view-content .ds-2col,
    #maincontent.mastcontent #content-inner .view-display-id-page_news .view-content .ds-2col .group-left,
    #maincontent.mastcontent #content-inner .view-display-id-page_news .view-content .ds-2col .group-right,
    #maincontent.mastcontent #content-inner .view-display-id-page_news .view-content .ds-2col,
    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-tonspion-tonspion-archive-filter,
    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-system-main,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content .ds-2col .group-left,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content > div,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content .ds-2col,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content .ds-2col .group-right,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-galleries .view-content .ds-2col .group-left,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-galleries .view-content .ds-2col .group-right,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-galleries .view-content .ds-2col,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-artists .view-content .views-row,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-artists .view-content .ds-1col .field-name-title,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-events .view-content .ds-2col-stacked .group-left,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-events .view-content .ds-2col-stacked .group-right {
        position: static;
        width: auto;
        display: block;
        height: auto;
        float: none;
        margin: 0;
    }

    body.page-node.node-type-news #block-system-main .ds-2col-stacked .group-left  {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    body.page-node.node-type-news #block-system-main .ds-2col-stacked .group-left img,
    #sevendigital-player-wrapper .group-left img,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content .ds-2col .group-left a img,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-galleries .view-content .ds-2col .group-left img {
        width: 100%;
        height: auto;
    }

    body.page-node.node-type-artist #block-views-4dc8e1e679502a86c34eb89bddca80dd .view-content .ds-2col .group-right,
    body.page-node.node-type-artist #block-views-news-block-news-from-artist .view-content .ds-2col .group-right,
    body.page-node-news #block-system-main .view-display-id-page_news_artist .view-content .ds-2col .group-right,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-field-albumreview,
    #sevendigital-player-wrapper .group-right,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-body,
    body.page-mp3 .view-album-reviews .view-content .ds-2col .group-right,
    #maincontent.mastcontent #content-inner .view-display-id-page_news .view-content .ds-2col .group-right,
    div.view-display-id-page_news_archive,
    #maincontent.mastcontent #content-inner .view-display-id-page_videos .view-content .ds-2col .group-right,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-galleries .view-content .ds-2col .group-right,
    body.node-type-media-street .view-id-media_gallery .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row .gallery-media-text,
    body.page-node #maincontent.mastcontent #content-inner .node .field-name-field-media-street-teasertext,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-events .view-content .ds-2col-stacked .group-right {
        padding: 10px;
    }

    #maincontent.mastcontent #content-inner.page-news-archive .view-content .ds-1col {
        margin-bottom: 10px;
    }

    body.page-node #maincontent.mastcontent #content-inner .node .field-name-sharethis-block,
    body.page-node #maincontent.mastcontent #content-inner .node .group-footer .field-name-field-album-headline-review,
    body.page-node #maincontent.mastcontent #content-inner .node .group-footer .field-name-field-album-teaser-text,
    body.page-node #maincontent.mastcontent #content-inner .field-name-field-album-mp3,
    body.page-node #maincontent.mastcontent #content-inner #block-views-news-block-news-related .view-content .views-row .ds-1col .field-name-field-news-type,
    body.page-download-mp3 div.mp3-predownload-wrapper,
    body.page-download-mp3 h4.title,
    #maincontent.mastcontent #content-inner #block-system-main .view-id-artists .view-content .ds-1col .field-name-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    #sevendigital-player-wrapper .player {
        height: 180px;
        text-align: center;
    }

    #sevendigital-player-wrapper .player .tracker-wrapper {
        float: none;
        margin: 0 auto;
        clear: both;
        margin-bottom: 10px;
        width: 250px;
    }


    #sevendigital-player-wrapper .player .controls .rew,
    #sevendigital-player-wrapper .player .controls .play,
    #sevendigital-player-wrapper .player .controls .pause.visible,
    #sevendigital-player-wrapper .player .controls .fwd {
        float: none;
        display: inline-block;
    }

    #sevendigital-player-wrapper .player .controls .play.hidden {
        display: none;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-left {
        display: inline-block;
        float: none;
        padding-left: 10px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-right {
        display: inline-block;
        width: auto;
        float: none;
        top: -16px;
        font-size: 13px;
        white-space: nowrap;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-right .author .author,
    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-right h4.label-above,
    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-right span,
    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block .group-right .field-name-field-company,
    #maincontent.mastcontent #content-inner .block-menu-block .content ul.menu li a {
        font-size: 13px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-news-block-news-related .view-content .views-row .ds-1col .field-name-field-news-type,
    body.page-node #maincontent.mastcontent #content-inner #block-views-news-block-news-related .view-content .views-row .ds-1col .field-name-title {
        float: none;
        display: inline-block;
        font-size: 13px;
        line-height: 13px;
    }

    body.page-node #maincontent.mastcontent #content-inner .field-name-field-album-mp3 .ds-1col .field-name-html-mp3-download-link,
    body.page-node #maincontent.mastcontent #content-inner .field-name-field-album-mp3 .ds-1col .field-name-title,
    body.page-node #maincontent.mastcontent #content-inner #block-views-news-block-news-related .view-content .views-row .ds-1col .field-name-title h3 a,
    body.page-mp3 .view-album-reviews .sortby_filter label {
        font-size: 13px;
        line-height: 13px;
    }

    body.page-node #maincontent.mastcontent #content-inner #block-views-users-block {
        margin-bottom: 0;
    }

    body.page-node #maincontent.mastcontent #content-inner .field-name-field-album-mp3 .ds-1col .field-name-code-mp3-audio-player .wrapper-mp3-player,
    body.page-node #maincontent.mastcontent #content-inner .field-name-field-album-mp3 .ds-1col .field-name-code-mp3-audio-player {
        width: 85px;
    }

    body.page-mp3 .view-album-reviews .sortby_filter {
        position: static;
        margin-left: 10px;
        margin-top: 4px;
        font-size: 13px;
    }

    body.page-mp3 .view-album-reviews .sortby_filter label.sortby_titlefilter {
        margin-top: 4px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-news-filter.dropdown_filter {
        top: 17px;
        right: 10px;
    }

    #maincontent.mastcontent #content-inner.page-news-archive .archive_filter #block-system-main .view-header {
        position: static;
        margin-bottom: 5px;
        font-size: 13px;
    }

    div.view-display-id-page_albums_charts .view-content > div {
        padding-left: 10px;
        padding-right: 10px;
    }

    #maincontent.mastcontent #content-inner .view-display-id-page_albums_charts .view-content .position {
        float: none;
        display: inline-block;
        margin-right: 5px;
    }

    div.view-display-id-page_albums_charts .view-content > div .views-field-rendered-entity {
        display: inline-block;
    }

    #maincontent.mastcontent #content-inner .view-display-id-page_albums_charts .view-content .ds-1col {
        display: block;
        float: none;
        width: auto;
    }

    #maincontent.mastcontent #content-inner .view-display-id-page_albums_charts .view-content .ds-1col .field-name-title h3 a,
    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-temporal-filter .sortby_filter label {
        font-size: 13px;
    }

    #maincontent.mastcontent #content-inner .view-display-id-page_albums_charts .view-content .ds-1col .field-name-title {
        width: auto;
    }

    #maincontent.mastcontent #content-inner .view-display-id-page_albums_charts .view-content .ds-1col .field-name-views-count {
        width: 25px;
        line-height: 66px;
    }

    #maincontent.mastcontent #content-inner #block-tonspion-tonspion-temporal-filter .sortby_filter {
        position: static;
        margin-left: 10px;
        height: 30px;
        font-size: 13px;
    }

    body.page-charts #maincontent.mastcontent #content-inner #block-tonspion-tonspion-genre-filter .dropdown_filter {
        top: -90px;
    }

    #maincontent.mastcontent #content-inner .field-name-field-video-link > div,
    #maincontent.mastcontent #content-inner div.view-display-id-page_videos div.view-header {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 15px;
    }

    #maincontent.mastcontent #content-inner .field-name-field-video-link > div iframe,
    #maincontent.mastcontent #content-inner .field-name-field-video-link > div object,
    #maincontent.mastcontent #content-inner .field-name-field-video-link > div embed,
    #maincontent.mastcontent #content-inner div.view-display-id-page_videos div.view-header iframe,
    #maincontent.mastcontent #content-inner div.view-display-id-page_videos div.view-header object,
    #maincontent.mastcontent #content-inner div.view-display-id-page_videos div.view-header embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #maincontent.mastcontent #content-inner .block-menu-block .content ul.menu li {
        padding-top: 5px;
    }

    #maincontent.mastcontent #content-inner #block-system-main .view-id-events .view-content .event-artist a.detail-behaviour-action {
        position: static;
        padding-left: 10px;
    }


}
