/**
 * Accordion Styles for IE 8 and IE 7
 */

.js_accordion .accordion_vertical {
    left: 0;
    top: 0;
    width: 40px;
    height: 300px;
    zoom: 1;
}

.js_accordion .accordion_name,
.js_accordion .accordion_category {
    writing-mode: bt-rl; /* IE 7 */
    -ms-writing-mode: bt-rl; /* IE 8 */
}

.js_accordion .accordion_name {
    right: 0;
    top: 10px;
}

.js_accordion .accordion_category {
    top: auto;
    bottom: 5px;
    left: 5px;
    padding: 5px 0;
}
