// Import default
@import "default";

// Override Grid Vars
$column: 60px;
$num_columns: 12;
$gutter: 10px;
$grid_width: 960px;

/* ======================================================================================================================== 
**
** IE Styles
**
** ======================================================================================================================== */


// Ejemplo de uso: En IE el elemento html tendra la class genérica .ie y además en función de la versión de IE una class especifica
// para poder tunear diferentes IE desde el mismo archivo.

// Estilos para IE6 o interior a IE7.
 html.lt-ie7 {
	
 }

 // Estilos para IE6 o interior a IE8.
 html.ie8 {

}

 // Estilos para IE9
 html.ie9 {

}