// Import 960 Grid
@import "960/960";

// Import default
@import "default";

// Override Grid Vars
$column: 60px;
$num_columns: 12;
$gutter: 10px;
$grid_width: 960px;

// Import Layout
@import "_partials/layout";

/* ======================================================================================================================== 
**
** Main - Desktop
**
** ======================================================================================================================== */

/* ==========================================================================
   Content Area
   ========================================================================== */

#maincontent.mastcontent {
	#overcontent-inner {
		#block-views-news-block-news-latest-home {
			h2 span#news_archive_link {
				position: absolute;
		        top:1px;
		        left:auto;
		        right:45px;
		        margin:0;
		        padding:0;
		        width: auto;
		        height: auto;
		        z-index: 30;
		        @include fontsite(condensed,normal);
            	color: lighten($first-color,60);
            	@include dohover(underline);
            	@include fs(19); 
            	text-transform: capitalize;

            	a {
            		color: lighten($first-color,60) !important;
            	}
			}

			@include tonspion-news-list(content);
		}
		#block-views-e8952cc8588d0180223dcce6dd0b1b6e {
			@include tonspion-artists-list(selected_artists);
		}		
	}
	#content-inner {
		position: relative;

		.block-menu-block,
		.block-menu {
			@include tonspion-tablinks-content();
		}

		.region {
			@include tonspion-forms-overcontent();
		}

		#block-views-videos-block-videos-home,
		#block-views-videos-block-videos-recommended,
		#block-views-videos-block-videos-popular,
		.view-display-id-page_videos {
			@include tonspion-video-list(content);
		}
		#block-views-events-block-events-home {
			@include tonspion-events-list(content);
		}
		.view-display-id-page_news {
			@include tonspion-news-list(main);
		}
		.view-display-id-page_albums_charts {
			@include tonspion-filter(genre,-58px,-53px);
			@include tonspion-filter(sortby,-51px,114px);
			@include tonspion-charts-list(main);
		}
		#block-views-7a53ff38b7510e637d6df5a005ea34ba,
		#block-views-2ef56b55a5cc84ac69fbc2336a6119cf,
		#block-views-artists-block-artists-related {
			@include tonspion-artists-list(content);
		}

		//LABELS
		.view-id-labels {
			@include tonspion-labels();
		}
		
		// PÁGINAS SECCIÓN / LISTADO
		#block-tonspion-tonspion-genre-filter {
			@include tonspion-filter(genre,-65px,-53px);
		}
		#block-tonspion-tonspion-temporal-filter {
			@include tonspion-filter(sortby,-75px,114px);
		}
		#block-system-main .view-album-reviews {
			@include tonspion-filter(genre,-58px,-53px);
			@include tonspion-filter(sortby,-58px,114px);
			@include tonspion-reviews-list(content);
		}
		#block-system-main .view-id-artists {
			@include tonspion-filter(genre,-58px,-53px);
			@include tonspion-filter(sortby,-58px,114px);
			@include tonspion-artists-list(main);
		}
		#block-system-main .view-id-galleries {
			@include tonspion-media-list(main);
		}
		#block-system-main  .view-id-events{
			@include tonspion-filter(genre,-58px,-53px);
			@include tonspion-filter(sortby,-58px,114px);
			@include tonspion-events-list(main);
		}
		#block-tonspion-tonspion-news-filter {
			@include tonspion-filter(news-history,8px,0px);

			// Override
			width: auto !important;
			@include fontsite(condensed,normal);
			color: lighten($first-color,60);
			@include dohover(underline);
			@include fs(19); 
			text-transform: capitalize;

			a {
				color: lighten($first-color,60) !important;
			}
		}
		&.page-news-archive {
			@include tonspion-filter(news-archive,-52px,-38px);
			@include tonspion-news-list(archive);
		}


		@include tonspion-video-size();
	}
	#undercontent-inner {
		#block-quicktabs-lists {
			@include tonspion-alphabet-list()
		}
	}
}

/* ========================================================================== */

/* ==========================================================================
   Sidebar Area
   ========================================================================== */

#maincontent.mastcontent {
	#sidebar-right {
		//Block follow us
		#block-block-6 {
			@include tonspion-followus(sidebar);
		}
		#block-views-videos-block-videos-latest {
			@include tonspion-video-list(sidebar);
		}
		#block-views-news-block-news-latest {
			@include tonspion-news-list(sidebar);
		}
		#block-views-402fa983522ede1908102cf3581dd5f8,
		.view-album-reviews {
			@include tonspion-reviews-list(sidebar);
		}
		#block-quicktabs-most-popular-artists {
			@include tonspion-artists-list(sidebar);
		}
		#block-views-events-block-events-latest,
		#block-views-artists-block-artists-on-tour {
			@include tonspion-events-list(sidebar);
		}
	}
}

/* ========================================================================== */

/* ==========================================================================
   Páginas finales - NODES
   ========================================================================== */

// GENERAL
body.page-node {
	#maincontent.mastcontent {
		#content-inner {
			.node .field-name-body,
			.node .field-name-body p, 
			.node .field-name-field-albumreview,
			.node .field-name-field-albumreview p,
			.node .field-name-field-media-street-teasertext,
			.node .field-name-field-media-street-teasertext p,
			{
				// Font Size Finetuning
				@include fontsite(condensed,light);
				@include fs(18);  
				@include lh(16);
				color: lighten($first-color,20);
				// @include fontsite(condensed,light);
				// @include fs(22);  
				// @include lh(16);
				// color: lighten($first-color,30);
			}
			.node .field-name-field-media-street-subhead,
			.node .field-name-field-media-street-subhead p, 
			.node .group-footer .field-name-field-album-teaser-text
			{
				// Font Size Finetuning
				@include fontsite(condensed,medium);
				color: lighten($first-color,10);
				@include fs(18);  
				@include lh(16);
				// @include fontsite(condensed,medium);
				// color: lighten($first-color,10);
				// @include fs(22);  
				// @include lh(16);
            	margin-bottom: 10px;
			}
			.node .group-footer .field-name-field-album-headline-review {
				display:block;
				clear:both;
				@include fs(25);
				@include fontsite(condensed,bold);
				color: $first-color;
				margin-bottom: 15px;
			}

			.node .field-name-sharethis-block {
				@include tonspion-followus(social);
			}
			
			.node .field-name-code-more-info-about-artist,
			.node .field-name-code-more-info-about-artist a {
				@include fs(16);
            	@include lh(12);
			}
			.node .field-name-code-more-info-about-artist {
				margin-bottom: 10px;
				position: relative;
				top: -8px;
				left: 0px;
			}

			#block-views-news-block-news-artist-listed,
			#block-views-news-block-news-related {
				@include tonspion-news-list(related);
			}

			#block-views-users-block {
				@include tonspion-user-post();
			}
			.field-name-field-album-mp3 {
				@include tonspion-download-stream-box();
			}
			#block-views-c6c5ab5e95fa0d92879ac2a259ba8edc,
			#block-views-4be6c3bb2ea1cec173bec90e96ee0a4c {
				@include tonspion-related-albums();
			}
			#block-views-events-block-events-artist {
				@include tonspion-events-list(tourdaten);
			}
		}
	}
}

// ESPECIFICO
body.page-node.node-type-news,
body.page-node.node-type-album,
body.page-node.node-type-artist {
	#block-system-main  {
		@include tonspion-info-stacked();
	}
}
.field-name-code-more-info-about-artist {
	text-align: right;
	margin-top: 15px;
	
	a {
		@include insert-icon(icon-triangle-right, after);
		&:after {
			font-family: 'icomoon';
			position:absolute;
			left: auto;
			top: 0px;
			right:0px;
			font-size: 16px;
			display:block;
			padding: 2px;
		}
		
		padding-right: 30px;
		@include fontsite(condensed,light);
		@include fs(18);  
		@include lh(16);
		font-weight: bold;
	}
}
body.page-node.node-type-album {
	#block-system-main .ds-2col-stacked .group-left {
		display:none;
	}
}
body.page-node.node-type-artist {
	#block-views-videos-block-videos-artist .view-display-id-attachment_videos_artist_highlight {
		@include tonspion-video-list(content);
		.view-content .ds-2col {
			min-height:initial;
		}
	}
	#block-views-4dc8e1e679502a86c34eb89bddca80dd {
		.more-link {
			@include fontsite(condensed,semibold);
          	@include fs(19); 
          	color: $second-color;
          	position: absolute;
          	top: 8px;
          	left: auto;
          	right: 0px;
		}
		@include tonspion-music-news-node-artist(music);		
	}
	#block-views-news-block-news-from-artist{
		@include tonspion-music-news-node-artist(news);
	}
}
body.node-type-media-street {
	.view-id-media_gallery {
		@include tonspion-media-gallery();
	}
}

// Pagina MP3 - album reviews
body.page-mp3 .view-album-reviews {
	@include tonspion-filter(genre,0px,-53px);
	@include tonspion-filter(sortby,8px,114px);
	@include tonspion-reviews-list(content);
}

// Suscribe Newsletter
#subscribeform {
	@include tonspion-suscribe-form();
}

/* ========================================================================== */

/* ==========================================================================
   Pestañas artistas
   ========================================================================== */

// News
body.page-node-news {
	#block-system-main .view-display-id-page_news_artist {
		@include tonspion-news-list(main);
	}	
}
// Videos
body.page-node-videos {
	#block-system-main .view-display-id-page_videos_artist .attachment-after .view-id-videos  {
		@include tonspion-video-list(content);
		.view-content .ds-2col {
			min-height:initial;
		}
	}	
}
// Live
body.page-node.page-node-live {
	#maincontent.mastcontent {
		#content-inner {
			#block-system-main .view-id-events.view-display-id-page_events_artist {
				@include tonspion-events-list(tourdaten);
				overflow:hidden;
				margin-bottom:18px;
			}	
		}
	}
}

/* ========================================================================== */

/* ==========================================================================
   PAGINA TAXONOMIAS Y BUSCADOR
   ========================================================================== */

body.page-taxonomy {
	#content-inner {
		.region {
			@include tonspion-taxonomies();
		}
	}
}
body.page-search {
	#content-inner {
		// Default Drupal Search
		.view-id-search {
			@include tonspion-news-list(main);
			@include tonspion-reviews-list(content);

			.view-content .ds-2col .group-right .field-name-title {
				margin-top: 10px !important;
			}
		}

		// Google Search
		.gsc-control-cse {
			@include tonspion-google-search();
		}
	}
}

/* ========================================================================== */

/* ==========================================================================
   Override
   ========================================================================== */

// News Home to width 970
#maincontent.mastcontent #overcontent-inner #block-views-news-block-news-latest-home .view-content .ds-2col {
	margin-left:15px;
	margin-right:15px;
}
#maincontent.mastcontent #overcontent-inner #block-views-news-block-news-latest-home .view-content .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item:nth-child(1) .ds-2col {
	margin-left:0;
}
#maincontent.mastcontent #overcontent-inner #block-views-news-block-news-latest-home .view-content .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row .views-slideshow-cycle-main-frame-row-item:nth-child(4) .ds-2col {
	margin-right:0;
}

// Accordion Home to width 970
.js_accordion {
	width:970px !important;
	height:320px !important;

	li {
		height:320px !important;
		width:53px;
	}

	.accordion_vertical {
		width:320px !important;
		left: -133px !important;
		top: 132px !important;
	}
}


// 960 grid to 970.
.container-12{
	width:970px;

	.grid-12 {
		width:970px;
		margin-left: 0;
		margin-right: 0;
	}
	#brandhold-wrapper.grid-3 {
		margin-left: 0;
		width: 249px;
	}
	#headertop-inner.grid-9 {
		margin-right: 0;
	}
	#content-inner.grid-8 {
		width: 630px;
		margin-left: 0;
	}
	#sidebar-right.grid-4 {
		width: 320px;
		margin-right: 0;
	}
}

/* ========================================================================== */






