/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\0000392}}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003100}}
html,
body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003114}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003126}}
b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003135}}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003146}}
li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003157}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003164}}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003170}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003175}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003182}}
sub,
sup,
small {
  font-size: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003187}}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003193}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003197}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/reset\.scss}line{font-family:\00003201}}
svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}
