/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000311}}
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000315}}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000325}}
h1 {
  font-size: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000329}}
h2 {
  font-size: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000333}}
h3 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000337}}
h4 {
  font-size: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000341}}
h5 {
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000345}}
h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000352}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000356}}
ul {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000360}}
li {
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Workspace\/Freelance\/Tecnilogica\/tonspion\/Implementacion\/Desarrollo\/htdocs\/sites\/all\/themes\/custom\/tonspion_theme\/sass\/960\/text\.scss}line{font-family:\0000379}}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
