// ======================================================================================================================== 
//
// Custom sass variables and mixins
//
// ========================================================================================================================


//
// Variables
//
// Generic Grid Vars
$column: 60px;         // The column-width of your grid in pixels
$num_columns: 12;      // The number of column of your grid
$gutter: 10px;         // The gutter-width of your grid in pixels
$grid_width: 960px;    // Grid width

// GrayColors
$black:                             #000000;
$gray-90:                           #1A1A1A;
$gray-80:                           #333333;
$gray-70:                           #4C4C4C;
$gray-60:                           #666666;
$gray-50:                           #808080;
$gray-40:                           #999999;
$gray-30:                           #B2B2B2;
$gray-20:                           #CCCCCC;
$gray-10:                           #E6E6E6;
$white:                             #FFFFFF;

// Colors
$blue:                              #049cdb;
$blue-dark:                         #0064cd;
$green:                             #46a546;
$red:                               #9d261d;
$yellow:                            #ffc40d;
$orange:                            #f89406;
$pink:                              #c3325f;
$purple:                            #7a43b6;

// General - App Styles
$first-color:                       #2a2a2a; //Text
$second-color:                      #FD1E00; //Highlight
$third-color:                       #2a2a2a; //Borders and buttons
$fourth-color:                      $white;  //Contrast color

$bandcolor-headertop:               #323232;
$bandcolor-headerbottom:            #464646;
$bandcolor-footertop:               #262626;
$bandcolor-footerbottom:            #050505;
$bandcolor-search:                  #2b2b2b;

$img-path:                          "../img/";

$logo-width:                        173px;
$logo-height:                       44px;
$logo-path:                         $img-path+"logo.png";

$headertop-height:                  60px;
// $headerbottom-height:               70px;
$headerbottom-height:               50px;
$headertop-height-compress:         50px;
$headerbottom-height-compress:      50px;
$footerbottom-height:               60px;

// Base
$body-background:                   $white;
$content-background:                $white;
$text-color:                        $first-color;
$color-button:                      $third-color;
$color-text-button:                 $white;

// Links
$link-color:                        $second-color;
$link-color-hover:                  lighten($link-color, 15%);
$link-color-visited:                $link-color;
$link-decoration:                   none;
$link-decoration-hover:             underline;

// Sizes
$default-fontsize-css:              62.5%; 
$default-fontsize:                  14; 
$default-lineheight-increment:      1.6;
$padding-inner-content:             15px; 
$video-image-ratio:                 (16/9);

// Config
$experimental-support-for-svg:      true;


//
// Font Variables
//

$sans-serif-small:                  'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-large:                  Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;
$serif-small:                       Garamond, Perpetua, 'Times New Roman', serif;
$serif-large:                       Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
$opensans:                          'Open Sans', $sans-serif-small;
$opensans-condensed:                'Open Sans Condensed', $sans-serif-small;
$roboto-condensed:                  'Roboto Condensed', $sans-serif-small;
$montserrat:                        'Montserrat', $sans-serif-small;

//
// Font Mixin
//
@mixin fontsite($type: normal, $weighttext: normal){
  @if $type == condensed {
    font-family: $roboto-condensed;
    @if $weighttext == normal {
      font-weight: 400;
    } @else if $weighttext == light {
      font-weight: 300;
    } @else if $weighttext == semibold {
      font-weight: 700;
    } @else if $weighttext == bold {
      font-weight: 700;
    } @else if $weighttext == extrabold {
      font-weight: 700;
    }
  } @else {
    font-family: $opensans;
    @if $weighttext == normal {
      font-weight: 400;
    } @else if $weighttext == light {
      font-weight: 300;
    } @else if $weighttext == semibold {
      font-weight: 600;
    } @else if $weighttext == bold {
      font-weight: 700;
    } @else if $weighttext == extrabold {
      font-weight: 800;
    }
  }
}

// Font-size
@mixin fs($fontsize: $default-fontsize){
  font-size: round($fontsize) + px;
}

// Line-height
@mixin lh($fontsize: $default-fontsize, $increment: $default-lineheight-increment){
  line-height: ($fontsize * $increment) + px;
}

@mixin h1 {
  @include fs($default-fontsize*2.8);
  @include lh($default-fontsize*2.8,1.2);
}
@mixin h2 {
  @include fs($default-fontsize*2.2);
  @include lh($default-fontsize*2.2,1.1);  
}
@mixin h3 {
  @include fs($default-fontsize*1.8);
  @include lh($default-fontsize*1.8,0.9);
}
@mixin h4 {
  @include fs($default-fontsize*1.58);
  @include lh($default-fontsize*1.58);
}
@mixin h5 {
  @include fs($default-fontsize*1.2);
  @include lh($default-fontsize*1.2);  
}
@mixin h6 {
  @include fs($default-fontsize);
  @include lh($default-fontsize);  
}


// Visual
@mixin default-button($bg-color,$text-color) {
  text-decoration:none;
  @include sassy-button("matte", 5px, inherit, lighten($bg-color,10), $bg-color, $text-color, "inset")
}

// Utils
@mixin reset-list {
  margin:0px;
  padding:0px;
  background:transparent;
  list-style:none;
}

@mixin responsive-img {
  border: 0;
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin img-shadow {
  @include box-shadow(rgba($black,0.5)  0px 0px 6px 0px);
}

@mixin block-w-shadow ($size:3px,$background:$content-background,$shadow-color:rgba($black, 0.3)){
  background:$background;
  @include box-shadow($shadow-color 0px 0px 0px $size);
  margin-bottom: 20px;
  display:block;
  @include border-radius(1px);
}

@mixin grayscale ($bool:true){
  @if $bool == true {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */  
    } @else {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%);
    }   
  }

  @mixin drop-shadow ($xOff,$yOff,$blur,$color){
    -webkit-filter: drop-shadow($xOff $yOff $blur $color);
//  filter: url(shadow.svg#drop-shadow);
-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$xOff+", OffY="+$yOff+", Color='"+$color+"')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$xOff+", OffY="+$yOff+", Color='"+$color+"')";
}

@mixin css-arrow(){
  .arrow_box { position: relative; background: #88b7d5; border: 4px solid #c2e1f5; } 
  .arrow_box:after, .arrow_box:before { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
  .arrow_box:after { border-color: rgba(136, 183, 213, 0); border-top-color: #88b7d5; border-width: 30px; left: 50%; margin-left: -30px; }
  .arrow_box:before { border-color: rgba(194, 225, 245, 0); border-top-color: #c2e1f5; border-width: 36px; left: 50%; margin-left: -36px; }
}

@mixin dohover($type:underline, $color-hover:inherit){
  @if $type==underline {
    text-decoration:none;

    &:hover {
      text-decoration:underline;
    }
  } @else {
    text-decoration:none;

    &:hover {
      text-decoration:none;
      color:$color-hover;
    }
  }
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

// Snippets
@mixin tonspion-tag($target:sidebar){
  background:$second-color;
  color:$fourth-color;
  text-transform:uppercase;
  @include fontsite(condensed,bold);
  width: auto;
  display: inline-block;
  position: relative;
  
  @if $target == sidebar {
    @include fs(10);
    @include lh(5);
    padding: 3px;
    margin: 0px 2px 2px 0px;
    @include border-radius(3px);
  } @else {
    @include fs(14);
    @include lh(9);
    padding: 7px;
    margin: 0px 4px 4px 0px;
    @include border-radius(5px);
  }
}

@mixin tonspion-title-footer(){
  @include h5();
  color: $second-color;
  margin-bottom: 6px;
  @include fontsite(condensed,bold);
}

@mixin tonspion-title-block($underline:true){
  & {
    @include h4();
    display: block;
    color: $first-color;
    padding-bottom: 6px;
    margin-bottom: 15px;
    @include fontsite(condensed,bold);
    text-transform:uppercase;
    @if $underline == true {
      border-bottom: 4px solid $first-color;
    }

    & a {
      color: $first-color;
    }
  }
}

@mixin tonspion-search(){
  & {
    position: relative;

    .form-item {
      display: block;
      height: $headertop-height;
      position: relative;
      width: 100%;
      margin-top: 0px;

    }

    .views-exposed-form .views-exposed-widget {
      float: none;
      padding: 0;
    }

    label, .form-submit {
      display: none;
    }

    .form-text {
      border: none;
      margin: 0px;
      left: 5px;
      position: absolute;
      top: 7px;
      width: 80%;
      font: 13px/17px $montserrat;
      color: $fourth-color;
      background:$bandcolor-search;
      padding: 15px 5px;
      text-transform: uppercase;
      @include box-shadow(rgba($link-color, 0) 0px 0px 6px 1px);

      &:focus {
        border-color: rgba($link-color, 0);
        @include box-shadow(rgba($link-color, 0) 0px 0px 6px 1px);
      }
    }

    .form-submit {
      display:block;
      position: absolute;
      top:16px;
      left:auto;
      right:5px;
      text-transform: uppercase;
      background:$bandcolor-search;
      border:none;
      background: url($img-path+"bg_search.png") no-repeat 6px 6px;
      text-indent: -9999px;
      width:30px;
      height: 30px;
      cursor:pointer;
      margin: 0px;
      @include single-transition(all,0.5s,false,false);
    }
  }
}

@mixin tonspion-pager($type:default){
  @if $type == default {
    &,
    & li {
      @include reset-list();
    }

    & li,
    & li a {
      @include fontsite(condensed,bold);
      @include fs(17);
      @include lh(15);
      //text-transform: capitalize;
      @include dohover(underline);
      padding:0 !important;
      margin:0 !important;
      width: auto;
      display: inline;
      float:left;
      line-height: 31px;
    }

    & li {
      margin: 0px 7px !important;
    }
    

    & li.pager-item,
    & li.pager-ellipsis,
    & li.pager-current {
      background:$white;
      color: lighten($first-color, 50);
      margin:0px !important;
      padding:0px !important;
      width: 32px;
      height: 31px;
      border-top:1px solid lighten($first-color,70);
      border-bottom:1px solid lighten($first-color,70);
      border-left:1px solid lighten($first-color,70);
      border-right:1px solid lighten($first-color,70);

      a {
        color: lighten($first-color, 50);
        padding: 10px;
        width: 100%;
        height: 100%;
      }
    }
    & li.pager-current,
    & li.pager-item:nth-child(1n+1) {
      border-right:none;
    }
    & li.pager-current {
      background:$second-color;
      color: $fourth-color;
    }

    padding: 20px 0px 50px 0px !important;
    margin: 0 !important;
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @if $type == slideshow {
    & {
      padding: 10px 0px 10px 0px !important;
      margin: 0 !important;
      display: table;
      margin-left: auto !important;
      margin-right: auto !important;
      overflow: hidden;
      clear: both;

      position: absolute;
      top: 0px;
      right: 0px;

      .views-slideshow-controls-text-pause  {
        display:none;
      }
      .views-slideshow-controls-text-previous,
      .views-slideshow-controls-text-next {
        display: inline;
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;

        a {
          display: block;
          width: 20px;
          height: 20px;
          overflow: hidden;
          padding: 40px;
          
          @include insert-icon(icon-arrow-left, before);
          &:before {
            font-family: 'icomoon';
            position:absolute;
            left: 0px;
            top: 0px;
            color:$second-color;
            font-size: 20px;
            cursor: pointer;
          }
          @include fontsite(condensed,normal);
          
          &:hover {
            &:before {
              color:lighten($second-color,10);
            }            
          }
        }
      }
      .views-slideshow-controls-text-next {
        a {
          @include change-icon(icon-arrow-right, before);
        }
      }
    }
  }
}


@mixin tonspion-video-list($target:sidebar){
  //Sidebar First
  display:block;
  clear:both;
  overflow: hidden;

  .view-content {
    .views-row {
      margin-bottom: 18px;
    }
    .ds-2col {
      margin-bottom: 18px; //Temporal

      .group-left{
        @include grid(1);
        @include alpha();
        @include omega();
        width: $cols1+20;
        height: round(($cols1+20)/(($video-image-ratio)- 0.27));
        overflow: hidden;
        padding-top: 4px;
        margin-bottom: 0px;
        a {
          display:block;
          width: 100%;
          height: 100%;

          @include insert-icon(icon-play, before);
          &:before {
            font-family: 'icomoon';
            position:absolute;
            left: 50%;
            top: 50%;
            color:rgba($fourth-color,0.8);
            font-size: 44px;
            margin:-22px;
          }
          @include fontsite(condensed,normal);

          &:hover {
            &:before {
              color:$fourth-color;
            }
          }

          img {
            @include responsive-img();
            height: 100%;
          }          
        }
      }
      .group-right{
        @include grid(2.7);
        @include omega();
        .field-name-title {
          h3,
          h3 a {
            margin:0;
            padding:0;
            color: $first-color;
            @include fontsite(condensed,bold);
            @include fs(20);
            @include lh(15);
            //text-transform: capitalize;
            @include dohover(underline);
          }
        }
        .field-name-node-link {
          margin:0px;
          padding:0px;
          
          a {
            display:block;
            color: $second-color;
            @include fontsite(condensed,normal);
            @include fs(18);
            @include lh(18);
            @include dohover(none,lighten($link-color,10));
            margin:0px;
            padding:0px;
          }
        }
      }
    }
  }
  
  //Override if not sidebar
  @if $target != sidebar {
    .view-content {
      .ds-2col {
        @include grid(2.65);
        @include alpha();
        @include omega();
        min-height: $cols3+15;

        .group-left{
          @include grid(2.65);
          @include alpha();
          @include omega();
          //width: $cols2+($cols1/2);
          height: round(($cols2+($cols1/2))/$video-image-ratio);;
          overflow: hidden;
          padding-top: 0px;
          margin-bottom: 8px;
          a {
            &:before {
              font-size: 64px;
              margin:-32px;
            }
          }
        }
        .group-right{
          @include grid(2.65);
          @include alpha();
          @include omega();

          .field-name-title {
            h3,
            h3 a {
              @include fs(18);
              @include lh(14);
            }
          }
          .field-name-node-link a,
          .field-name-code-more-info-about-artist,
          .field-name-code-more-info-about-artist a {
            @include fs(16);
            @include lh(12);
          }
          .field-name-code-more-info-about-artist{
            padding-top: 8px;
          }
        }
      }
      
      .views-row-first .ds-2col {@include alpha();}
      .views-row-last .ds-2col {@include omega();}

      & > div {
        @include grid(2.65);
        &:nth-child(3n+1) {@include alpha();}
        &:nth-child(3n) {@include omega();}
      }
    }
    .attachment .view-content .views-row {
      @include grid(8);
      @include alpha();
      @include omega();
    }
    
    //
    .skin-default,
    .views-slideshow-cycle-main-frame {
      width: 100% !important;

      .views-slideshow-cycle-main-frame-row {
        width: 100% !important;

        .views-row {
          margin-bottom: 0px;
        }

        
        & .views-slideshow-cycle-main-frame-row-item {
          .ds-2col{
            @include grid(2.65);
          }
        }
        & .views-slideshow-cycle-main-frame-row-item:nth-child(3n+1) {
          .ds-2col{
            @include alpha();
          }
        }
        & .views-slideshow-cycle-main-frame-row-item:nth-child(3n) {
          .ds-2col{
            @include omega();
          }
        }
      }
    }
  } 
}

@mixin tonspion-news-list($target:sidebar){
  // Sidebar first
  .view-content {
    .views-row {
      margin-bottom: 18px;
    }
    .ds-2col {
      .group-left{
        @include grid(1);
        @include alpha();
        @include omega();
        width: $cols1+20;
        height: $cols1+20;
        overflow: hidden;
        padding-top: 4px;
        margin-bottom: 0px;
        img {
          @include responsive-img();
        }
      }
      .group-right{
        @include grid(2.7);
        @include omega();
        .field-name-field-news-type {
          @include tonspion-tag($target);
          display:none;
        }
        .field-name-field-genre  span{
          @include tonspion-tag($target);
        } 
        .field-name-field-ref-artist,
        .field-name-field-news-teaser-text,
        .field-name-title h3,
        .field-name-title h3 a {
          margin:0;
          padding:0;
          color: $first-color;
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
        }
        .field-name-title h3 a {
          @include dohover(underline);
        }
        .field-name-field-secondheadline,
        .field-name-field-secondheadline a {
          margin-top: 12px;
          @include fontsite(condensed,normal);
          @include fs(18);  
          @include lh(13);
          color: lighten($first-color,20);
        }
        .field-name-field-news-teaser-text {
            @include fontsite(condensed,normal);
            @include fs(18);
            @include lh(16);
            color: lighten($first-color,50);
            margin-bottom: 8px;

            p {
              margin:0px 0px 7px 0px;
              padding:0px;
            }
        }
        .field-name-field-ref-artist {
          @include fs(16);
          color: lighten($first-color,20);
          @include dohover(none);
          &:hover {
            color: lighten($first-color,20);
          }
        }
        .field-name-node-link {
          margin:0px;
          padding:0px;
          a {
            display:block;
            color: $second-color;
            @include fontsite(condensed,normal);
            @include fs(16);
            @include lh(10);
            @include dohover(none,lighten($link-color,10));
            margin:8px 0px 0px 0px;
            padding: 0px;
          }
        }
      }
    }
  }

  //Override if content
  @if $target == content {
    .view-content {
      display:block;

      .ds-2col {
        @include grid(3);
        .group-left{
          @include grid(3);
          @include alpha();
          @include omega();
          width: $cols3;
          height: $cols3;
          overflow: hidden;
          padding-top: 0px;
          margin-bottom: 8px;
        }
        .group-right{
          @include grid(3);
          @include alpha();
          @include omega();

          .field-name-title {
            h3,
            h3 a {
              @include fs(22);
              @include lh(16);
            }
          }
          .field-name-node-link a {
            @include fs(18);
            @include lh(13);
          }
        }
      }
      //.views-row-first .ds-2col {@include alpha();}
      //.views-row-last .ds-2col {@include omega();}
      .views-slideshow-cycle-main-frame {
        width: 100% !important;

        .views-slideshow-cycle-main-frame-row {
          width: 100% !important;

          .views-row {
            margin-bottom: 0px;
          }

          & .views-slideshow-cycle-main-frame-row-item:nth-child(1) {
            .ds-2col{
              @include alpha();
            }
          }
          & .views-slideshow-cycle-main-frame-row-item:nth-child(4) {
            .ds-2col{
              @include omega();
            }
          }
        }
      }
    }
  }

  //Override if main
  @if $target == main {
    @include tonspion-reviews-list(content);

    .view-content {
      & > div {
        margin-bottom: 30px;
        overflow: hidden;
      }
      .ds-2col {
        margin-bottom: 0px;
        .group-right{
          .field-name-field-news-type {
            display: inline;
            float: left;
            margin-right: 10px;
          }
          .field-name-post-date {
            @include fontsite(condensed,bold);
            @include fs(15);
            @include lh(13);
            color: lighten($first-color,30);
            padding-top: 4px;
          }
          .field-name-field-ref-artist {display:none;}
          .field-name-title {
            // margin-top: 15px;
            h3 {
              @include fs(25);
            }
          }
          .field-name-field-secondheadline,
          .field-name-field-secondheadline a {
            @include fontsite(condensed,normal);
            @include fs(22);  
            @include lh(16);
            color: lighten($first-color,20);
            margin: 0;
          }
          .field-name-field-news-teaser-text {
            margin-top: 15px;
            @include fontsite(condensed,light);
            color: lighten($first-color,20);
            @include dohover(none,lighten($first-color,20));
          }
        }
      }
    }
  }

  //Override if detail
  @if $target == detail {
    @include tonspion-reviews-list(content);

    .view-content {
      & > div {
        margin-bottom: 30px;
        overflow: hidden;
      }
      .ds-2col {
        margin-bottom: 0px;
        .group-right{
          .field-name-field-news-type {
            display: inline;
            float: left;
            margin-right: 10px;
          }
          .field-name-post-date {
            @include fontsite(condensed,bold);
            @include fs(15);
            @include lh(13);
            color: lighten($first-color,50);
            padding-top: 4px;
          }
          .field-name-field-ref-artist {display:none;}
          .field-name-title {
            margin-top: 15px;
            h3 {
              @include fs(25);
            }
          }
          .field-name-field-secondheadline,
          .field-name-field-secondheadline a {
            @include fontsite(condensed,light);
            @include fs(22);  
            @include lh(16);
            color: lighten($first-color,20);
          }
          .field-name-field-news-teaser-text {
            margin-top: 15px;
            @include fontsite(condensed,light);
            color: lighten($first-color,20);
            @include dohover(none,lighten($first-color,50));
          }
        }
      }
    }
  }

  //Override if related
  @if $target == related {
    & {
      .view-content {
        .views-row {
          margin:0px;
          padding: 0px;
          .ds-1col {
            @include fontsite(condensed,normal);
            @include fs(18);  
            @include lh(16);
            color: $first-color;
            margin:0px;
            padding:8px 0px;
            border-bottom:1px solid lighten($first-color,70);
            .field-name-field-news-type {
              @include fontsite(condensed,normal);
              @include fs(18);  
              @include lh(16);
              color: $second-color;
              text-transform: uppercase;
              float:left;
              margin-right: 10px;
            }
            .field-name-title {
              h3 {
                  @include fontsite(condensed,normal);
                  @include fs(18);  
                  @include lh(16);
                  color: $first-color;
                  //text-transform: capitalize;
                  float:left;
                  margin:0px;
                  padding: 0px;
                a {
                  @include fontsite(condensed,normal);
                  @include fs(18);  
                  @include lh(16);
                  color: $first-color;
                  //text-transform: capitalize;
                  float:left;
                }
              }
            }
          }
        }
      }
    }
  }

  //Override if archive
  @if $target == archive {
    & {
      .view-content {
        .ds-1col {
          @include fontsite(condensed,normal);
          @include fs(18);  
          @include lh(16);
          color: $first-color;
          margin:0px 0px 40px 0px;
          padding:0px;
          
          .field-name-field-ref-artist,
          .field-name-field-news-teaser-text,
          .field-name-title h3,
          .field-name-title h3 a {
            margin:0;
            padding:0;
            color: $first-color;
            @include fontsite(condensed,bold);
            @include fs(22);
            @include lh(16);
            //text-transform: capitalize;
            @include dohover(none);
          }
          .field-name-title h3 a {
            @include dohover(underline);
          }
          .field-name-post-date,
          .field-name-field-secondheadline {
            @include fontsite(condensed,light);
            @include fs(18);
            @include lh(13);
            color: lighten($first-color,40);
            margin-bottom: 0px;
            p {
              margin:0px 0px 0px 0px;
              padding:0px;
            }
          }
          .field-name-post-date {
            float:left;
            margin-right: 4px;
            &:after {
              content: " -";
            }
          }
          .field-name-node-link {
            margin:0px;
            padding:0px;
            a {
              display:block;
              color: $second-color;
              @include fontsite(condensed,normal);
              @include fs(16);
              @include lh(10);
              @include dohover(none,lighten($link-color,10));
              margin:8px 0px 0px 0px;
              padding: 0px;
            }
            clear:both;
          }
        }
      }
    }
  }
}

@mixin tonspion-reviews-list($target:sidebar){
  // Sidebar First
  .view-content {
    .views-row {
      margin-bottom: 18px;
    }
    .ds-2col {
      margin-bottom: 18px;

      .group-left{
        @include grid(1);
        @include alpha();
        @include omega();
        width: $cols1+20;
        height: $cols1+20;
        overflow: hidden;
        padding-top: 4px;
        margin-bottom: 0px;
        img {
          @include responsive-img();
        }
      }
      .group-right{
        @include grid(2.7);
        @include omega();

        .field-name-field-genre  span{
          @include tonspion-tag($target);
        }        
        .field-name-field-ref-artist,
        .field-name-title,
        .field-name-title h3,
        .field-name-title h3 a {
          margin:0;
          padding:0;
          color: $first-color;
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
          @include dohover(underline);
        }
        .field-name-field-ref-artist {
          @include fs(16);
          color: lighten($first-color,20);
          @include dohover(none);
          &:hover {
            color: lighten($first-color,20);
          }
        }
        .field-name-field-album-headline-review {
          margin:0;
          padding:0;
          color: lighten($first-color,20);
          @include fontsite(condensed,normal);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
          //@include dohover(none);
        }
        .field-name-field-album-teaser-text,
        .field-name-field-album-teaser-text a {
            // Font Size Finetuning
            @include fontsite(condensed,light);
            @include fs(18);  
            @include lh(16);
            color: lighten($first-color,20);
            // @include fontsite(condensed,light);
            // @include fs(18);
            // @include lh(14);
            // color: lighten($first-color,20);
            margin-bottom: 8px;
            margin-top: 4px;

            p {
              margin:0px 0px 7px 0px;
              padding:0px;
            }
        }
        .field-name-node-link {
          margin:0px;
          padding:0px;
          a {
            display:block;
            color: $second-color;
            @include fontsite(condensed,normal);
            @include fs(16);
            @include lh(10);
            @include dohover(none,lighten($link-color,10));
            margin:8px 0px 0px 0px;
            padding: 0px;
          }
        }
      }
    }
  }

  //Override if not sidebar
  @if $target != sidebar {
    .view-content {
      .ds-2col {
        @include grid(8);
        @include alpha();
        @include omega();
        margin-bottom: 24px;

        .group-left{
          @include grid(3);
          @include alpha();
          width: $cols3;
          height: $cols3;
          overflow: hidden;
          padding-top: 0px;
          margin-bottom: 8px;
        }
        .group-right{
          @include grid(5);
          @include omega();

          .field-name-field-genre {
            margin-bottom: 5px;
          }
          .field-name-title {
            h3,
            h3 a {
              @include fs(24);
              @include lh(18);
            }
          }
          .field-name-field-album-headline-review {
            @include fontsite(condensed,normal);
            @include fs(22);  
            @include lh(16);
            color: lighten($first-color,20);
            margin-bottom: 8px;
          }
          .field-name-code-album-stream-mp3 {
            @include fontsite(condensed,semibold);
            @include fs(16);  
            @include lh(13);
            color: lighten($first-color,50);
            span {
              color: $second-color;
            }
          }
          .field-name-related-artists {
            @include fontsite(condensed,semibold);
            @include fs(16);  
            @include lh(13);
            color: lighten($first-color,50);
            span {
              color: $first-color;
            }
          }

          .field-name-node-link a {
            @include fs(18);
            @include lh(13);
          }
        }
      }
    }
  }
}

@mixin tonspion-artists-list($target:sidebar){
  @if $target == sidebar {
    .quicktabs-wrapper {
      border: 1px solid $gray-30;

      .block {
        margin:0px;
      }

      .item-list {
        ul.quicktabs-tabs,
        ul.quicktabs-tabs li {
          @include reset-list();
        }
        ul.quicktabs-tabs {
          width:100%;
          clear:both;
          display:block;
          height:46px;
          overflow:hidden;
          background: $gray-10;

          li {
            float: left;
            width: 49%;
            text-align: left;
            border-right: 1px solid $gray-30;

            a {
              display:block;
              width: 105%;
              @include fontsite(condensed,bold);
              @include fs(20);
              @include lh(10);
              text-align: center;
              // border-bottom: 1px solid $gray-30;
              padding: 15px 0px;
              background: $gray-10;
              color:$gray-30;


              @include dohover(underline);
            }

            &.last {
              border-right: none;
            }

            &.active {
              a {
                background: $white;
                color: $second-color;
              }
            }
          }
        }

        display:block;
        clear:both;
        overflow:hidden;
      }

      .quicktabs_main {
        .quicktabs-tabpage {
          .view-artists {
            .item-list {
              ol,
              ol li {
                @include reset-list();
                @include fontsite(condensed,normal);
                @include fs(20);
                @include lh(10);
              }
              ol {
                li {
                  width:100%;
                  position:relative;
                  border-top: 1px solid $gray-30;
                  padding: 10px;

                  .numol {
                    color: lighten($first-color,50);
                    display: inline;
                    float: left;
                    margin: 0px 12px 0px 8px;
                    width: 20px;
                    font-weight: 700;
                  }

                  a {
                    color: $first-color;
                    @include dohover(underline);
                    //text-transform: capitalize;
                  } 
                }
              }
            }
          }
        }
      }

    }
  } @else if $target == selected_artists {
    overflow: hidden;
    margin-bottom: 10px;

    h2 {
      border: none;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .content {
      margin-top:-25px;
    }
    .view-content {
      .ds-1col {
        @include grid(1.765);
        @include alpha();
        @include omega();
        img {
          @include responsive-img();
        }

        .field-name-field-ref-artist {
          color: $second-color;
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
          text-indent: -9999px;
          height: 43px;
          display: table-cell;
          vertical-align: bottom;
        }
        .field-name-field-album-image {
          @include height(1.765);
          border-top: 4px solid $white;
          border-bottom: 4px solid lighten($first-color, 70);
          background: $black;

          img {
            opacity:.5;
          }
        }

        &:hover {
          .field-name-field-ref-artist {
            text-indent: 0px;
          }
          .field-name-field-album-image {
            border-top: 4px solid $second-color;
            img {
              opacity:1;
            }
          }
        }
      }
    }
  } @else if $target == content {
    display:block;
    clear:both;
    overflow: hidden;
    margin-bottom: 10px;

    .view-content {
      // .views-row {
      //   margin-bottom: 18px;
      // }
      .ds-1col {
        min-height: $cols3;
        margin-bottom: 18px;
        position:relative;
        @include alpha();
        @include omega();

        img {
          @include responsive-img();
        }

        .field-name-title {
          position: absolute;
          left: 0px;
          top: 199px;

          h3 {
            @include fontsite(condensed,bold);
            @include fs(18);
            @include lh(13);
            
            a {
              color:$first-color;
              @include dohover(none,lighten($first-color,70));
            }
          }
        }
      }

      //
      .skin-default,
      .views-slideshow-cycle-main-frame {
        width: 100% !important;

        .views-slideshow-cycle-main-frame-row {
          width: 100% !important;

          .views-row {
            margin-bottom: 0px;
            @include grid(2.65);
            &:nth-child(3n+1) {@include alpha();}
            &:nth-child(3n) {@include omega();}
          }
        }
      }
    }
  } @else if $target == main {
    display:block;
    clear:both;
    overflow: hidden;
    margin-bottom: 10px;

    .view-content {
      .views-row {
        margin-bottom: 0px;
        @include grid(2.65);
        &:nth-child(3n+1) {@include alpha();}
        &:nth-child(3n) {@include omega();}
      }
      .ds-1col {
        min-height: $cols3;
        margin-bottom: 18px;
        position:relative;
        @include alpha();
        @include omega();

        img {
          @include responsive-img();
        }

        .field-name-title {
          position: absolute;
          left: 0px;
          top: 199px;

          h3 {
            @include fontsite(condensed,bold);
            @include fs(18);
            @include lh(13);
            
            a {
              color:$first-color;
              @include dohover(none,lighten($first-color,70));
            }
          }
        }
      }
    }
  } @else {
    //
  }
}

@mixin tonspion-events-list($target:sidebar){
  // Sidebar first
  .view-content {
    .views-row {
      margin-bottom: 18px;
    }
    .ds-2col {
      .group-left{
        @include grid(1);
        @include alpha();
        @include omega();
        width: $cols1+20;
        height: $cols1+20;
        overflow: hidden;
        padding-top: 4px;
        margin-bottom: 0px;
        img {
          @include responsive-img();
        }
      }
      .group-right{
        @include grid(2.7);
        @include omega();
        .field-name-field-news-type {
          @include tonspion-tag($target);
          display:none;
        }
        .field-name-field-ref-artist,
        .field-name-field-news-teaser-text,
        .field-name-title,
        .field-name-title h3,
        .field-name-title h3 a {
          margin:0;
          padding:0;
          color: $first-color;
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
          @include dohover(underline);
        }
        .field-name-code-tour-dates,
        .field-name-field-news-teaser-text {
            @include fontsite(condensed,normal);
            @include fs(18);
            @include lh(13);
            color: lighten($first-color,50);
            margin-bottom: 8px;

            p {
              margin:0px 0px 7px 0px;
              padding:0px;
            }
        }
        .field-name-field-location,
        .field-name-field-date,
        .field-name-field-ref-artist {
          @include fs(16);
          color: lighten($first-color,20);
          @include dohover(none);
          &:hover {
            color: lighten($first-color,20);
          }
        }
        .field-name-node-link {
          margin:0px;
          padding:0px;
          a {
            display:block;
            color: $second-color;
            @include fontsite(condensed,normal);
            @include fs(16);
            @include lh(10);
            @include dohover(none,lighten($link-color,10));
            margin:8px 0px 0px 0px;
            padding: 0px;
          }
        }
      }
    }
  }

  //Override if content
  @if $target == content {
    .view-content {
      .ds-2col {
        @include grid(4);
        @include alpha();
        @include omega();
        background: lighten($first-color,70);
        //margin-bottom: $gutter*2;

        .group-left{
          @include grid(1.5);
          @include alpha();
          @include omega();
          @include width(1.5);
          @include height(1.5);
          overflow: hidden;
          padding-top: 0px;
          margin-bottom: 0px;
        }
        .group-right{
          @include grid(2.5);
          @include omega();

          .field-name-title,
          .field-name-title h3,
          .field-name-title h3 a,
          .field-name-field-ref-artist,
          .field-name-field-ref-artist  a {
            margin:0;
            padding:0;
            color: $first-color;
            @include fontsite(condensed,bold);
            @include fs(20);
            @include lh(16);
            //text-transform: capitalize;
            @include dohover(underline);
          }
          .field-name-field-ref-artist {
            padding: 21% 0% 0% 3%;
          }

          .field-name-node-link a {
            @include fs(18);
            @include lh(13);
          }
        }  
      }
      .views-row {
        @include grid(4);
        &:nth-child(2n+1) {@include alpha();}
        &:nth-child(2n) {@include omega();}
      }
    }
  }
  //Override if main
  @if $target == main {
    @include tonspion-reviews-list(content);

    .view-content {
      .event-artist {
        margin-bottom: 15px;
        overflow: hidden;
        border-bottom:1px solid lighten($first-color,70);

        a.detail-behaviour-action {
          @include fontsite(condensed,normal);;
          @include fs(20);
          @include lh(10);
          color: $second-color;
          position:absolute;
          top:96px;
          left:170px;
        }
      }
      .ds-2col-stacked,
      .ds-2col {
        margin-bottom: 20px;
        overflow: hidden;
        .group-header {display:none;}
        .group-left{
          @include grid(2.1);
          @include alpha();
          @include omega();
          @include width(2.1);
          @include height(2.1);
          margin-right: 10px;
          position:relative;
          top:0px;
          left: 0px;
          z-index: 20;

          img {
            @include responsive-img();
          }
        }
        .group-right{
          @include grid(5);
          @include omega();

          .field-name-field-media-section {
            @include tonspion-tag($target);
          } 
          
          .field-name-title,
          .field-name-title h3,
          .field-name-title h3 a {
            margin-bottom: 2px;
            padding:0;
            color: $first-color;
            @include fontsite(condensed,bold);
            @include fs(24);
            @include lh(13);
            //text-transform: capitalize;
            @include dohover(underline);
          }
          .field-name-code-tour-dates {
            @include fs(20);
            color: $first-color;
          }
        }
        .group-footer {
          .field-name-code-artist-concerts-list {
            display: block;
            padding-top: 20px;
            position: relative;
            top: 0px;
            left: 0px;
            width: 630px;
            margin-bottom:30px;
          }
        }
      }
      .event-items {
        display: block;
        clear:both;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 0px 0px;

        .ds-1col {
          margin-bottom: 14px;
          border-bottom: 1px solid lighten($first-color,70);
          padding-right: 100px;
          padding-bottom: 14px;
          position: relative;

          & > div {
            width: auto;
            display: inline;
            float: left;
            border-right: 1px solid lighten($first-color,20);
            margin-right: 5px;
            padding-right: 5px;
            margin-bottom: 9px;

            span,
            div {
              width: auto;
              display: inline;
              float: left;
              margin-right: 3px;

              &.lastchild {
                margin: 0px;
              }
            }
            * {
              @include fontsite(condensed,normal);;
              @include fs(20);
              @include lh(10);
              color: lighten($first-color,20);
              padding:0px;
              margin: 0px;
            }
            &.field-name-title {
              border:none;
              margin: 0px;
            }
          }

          .field-name-field-link {
            float: right;
            border: none;
            position: absolute;
            top: 0px;
            left: auto;
            right: 0px;

            a {
              color: $second-color;
              @include tonspion-tag(main);
            }
          }

          .location .street-address,
          .location .postal-code,
          .location .country-name {
            display: none;
          }
          .location .fn {
            border-right: 1px solid lighten($first-color,20);
            margin-right: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }

  //Override if main
  @if $target == tourdaten {

    h2 {
      background: url('../img/eventim-145x72.png') no-repeat right 4px;
      background-size: 12%;
    }

    .view-content {
      .ds-2col {
        border-bottom: 1px solid lighten($first-color,70);
        @include fontsite(condensed,normal);
        @include fs(22); 
        position: relative;
        top: 0px;
        left: 0px;
        padding: 7px 0px 10px 0px;

        a.detail-behaviour-action {
          @include fontsite(condensed,normal);;
          @include fs(20);
          @include lh(10);
          color: $second-color;
          position:absolute;
          top:12px;
          left:auto;
          right:0px;
        }

        .group-left {
          @include grid(8);
          @include alpha();
          @include omega();
          display:block;
          margin: 0px;
          padding: 0px;
          height: auto;
          position: relative;
          top: 0px;
          left: 0px;

          .field-name-event-heading {
            width: 80%;
            @include fontsite(condensed,normal);
            @include fs(22); 
            color: lighten($first-color,20);

            span.date {
              color: lighten($first-color,10);
            }
          }
        }
        .group-right {
          @include grid(8);
          @include alpha();
          @include omega();
          display:block;
          margin: 0px;
          padding: 0px;
          height: auto;
          position: relative;
          top: 0px;
          left: 0px;

          .field {
            @include fontsite(condensed,normal);
            @include fs(20); 
            @include lh(16); 
            color: lighten($first-color,50);
            @include dohover(none,lighten($first-color,50));
            span {
              @include dohover(none,lighten($first-color,50));
            }

            &.field-name-field-date {
              @include fs(22); 
              margin-bottom: 20px;
            }
            &.field-name-body {
              @include fontsite(condensed,light);
              padding-top: 10px;
            }
            &.field-name-sharethis-block {
              margin-top: 20px;
            }
            &.field-name-field-link {
              text-align: right;
              a {
                @include tonspion-tag(main);
              }
            }
          }
        }
      }
    } 
  }
}

@mixin tonspion-followus($target:sidebar){
  ul.followus,
  ul.followus li {
    @include reset-list();
  }

  ul.followus {
    clear:both;
    display:block;

    li {
      float: left;
      margin: 0px 10px 10px 0px;
      display: block;
      width: 37px;
      height: 37px;
      overflow:hidden;
      background: $gray-20;
      @include border-radius(3px);
      @include box-shadow(rgba($black,0.1) 0px 1px 1px 1px);

      a {
        text-indent: -999;
        display:block;

        &.twitter {
          @include insert-icon(icon-twitter, before);
          &:before {
            font-size: 29px;
            font-family: 'icomoon';
            position:absolute;
            left: 5px;
            top: 5px;
          }
          @include fontsite(condensed,normal);
          padding: 80px;
          color: $fourth-color;
          $bgc: #5cccf5;
          background: $bgc;

          &:hover {
            background: darken($bgc,10);
          }
        }

        &.facebook {
          @include insert-icon(icon-facebook, before);
          &:before {
            font-size: 29px;
            font-family: 'icomoon';
            position:absolute;
            left: 5px;
            top: 5px;
          }
          @include fontsite(condensed,normal);
          padding: 80px;
          color: $fourth-color;
          $bgc: #425799;
          background: $bgc;

          &:hover {
            background: darken($bgc,10);
          }
        }

        &.googleplus {
          @include insert-icon(icon-google-plus, before);
          &:before {
            font-size: 29px;
            font-family: 'icomoon';
            position:absolute;
            left: 5px;
            top: 5px;
          }
          @include fontsite(condensed,normal);
          padding: 80px;
          color: $fourth-color;
          $bgc: #cb3c33;
          background: $bgc;

          &:hover {
            background: darken($bgc,10);
          }
        }

        &.rss {
          @include insert-icon(icon-feed, before);
          &:before {
            font-size: 29px;
            font-family: 'icomoon';
            position:absolute;
            left: 5px;
            top: 5px;
          }
          @include fontsite(condensed,normal);
          padding: 80px;
          color: $fourth-color;
          $bgc: #f28a1a;
          background: $bgc;

          &:hover {
            background: darken($bgc,10);
          }
        }
      }
    }
  }

  display:block;
  clear:both;
  overflow: hidden;

  @if $target == social {
    & {
      .sharethis-wrapper {
        clear:both;
        display:block;
        overflow: hidden;
        margin-bottom: 17px;

        .st_fblike_large {
          display:none;
        }

        .st_twitter_large {
          .stButton {
            margin:0px;
            padding:0px;
            
            span.stLarge {
              background-image:none;
              display:none;
            }

            @include insert-icon(icon-twitter, before);
            &:before {
              font-size: 22px;
              font-family: 'icomoon';
              position:absolute;
              left: 17px;
              top: 11px;
              color: $white;
            }
            @include fontsite(condensed,normal);
            padding: 80px;
            color: $fourth-color;
            $bgc: #5cccf5;
            background: $bgc;

            &:hover {
              background: darken($bgc,10);
            }
          }
          margin: 0px 15px 0px 0px;
          display: block;
          width: 54px;
          height: 44px;
          overflow:hidden;
          float:left;
        }

        .st_facebook_large {
          .stButton {
            margin:0px;
            padding:0px;

            span.stLarge {
              background-image:none;
              display:none;
            }

            @include insert-icon(icon-facebook, before);
            &:before {
              font-size: 22px;
              font-family: 'icomoon';
              position:absolute;
              left: 17px;
              top: 11px;
              color: $white;
            }
            @include fontsite(condensed,normal);
            padding: 80px;
            color: $fourth-color;
            $bgc: #425799;
            background: $bgc;

            &:hover {
              background: darken($bgc,10);
            }
          }
          margin: 0px 15px 0px 0px;
          display: block;
          width: 54px;
          height: 44px;
          overflow:hidden;
          float:left;
        }
        .st_googleplus_large {
          .stButton {
            margin:0px;
            padding:0px;

            span.stLarge {
              background-image:none;
              display:none;
            }

            @include insert-icon(icon-google-plus, before);
            &:before {
              font-size: 25px;
              font-family: 'icomoon';
              position:absolute;
              left: 17px;
              top: 11px;
              color: $white;
            }
            @include fontsite(condensed,normal);
            padding: 80px;
            color: $fourth-color;
            $bgc: #cb3c33;
            background: $bgc;

          &:hover {
            background: darken($bgc,10);
          }

            &:hover {
              background: darken($bgc,10);
            }
          }
          margin: 0px 15px 0px 0px;
          display: block;
          width: 54px;
          height: 44px;
          overflow:hidden;
          float:left;
        }
        .st_email_large {
          .stButton {
            margin:0px;
            padding:0px;

            span.stLarge {
              background-image:none;
              display:none;
            }

            @include insert-icon(icon-envelope, before);
            &:before {
              font-size: 22px;
              font-family: 'icomoon';
              position:absolute;
              left: 17px;
              top: 11px;
              color: $white;
            }
            @include fontsite(condensed,normal);
            padding: 80px;
            color: $fourth-color;
            $bgc: #ccc;
            background: $bgc;

            &:hover {
              background: darken($bgc,10);
            }
          }
          margin: 0px 15px 0px 0px;
          display: block;
          width: 54px;
          height: 44px;
          overflow:hidden;
          float:left;
        }
        
        & > span {
          margin-right: 20px;
        }
      }
    }
  }
}

@mixin tonspion-alphabet-list(){
  .quicktabs-wrapper {
    //border: 1px solid $gray-30;

    .block {
      margin:0px;
    }

    .item-list {
      ul.quicktabs-tabs,
      ul.quicktabs-tabs li {
        @include reset-list();
      }
      ul.quicktabs-tabs {
        width:auto;
        clear:both;
        display:block;
        height:46px;
        overflow:hidden;
        border-top: 1px solid $gray-10;
        border-left: 1px solid $gray-10;
        border-right: 1px solid $gray-10;
        float: left;

        li {
          float: left;
          width: auto;
          text-align: left;
          border-right: 1px solid $gray-10;
          padding: 0px 20px;

          a {
            display:block;
            width: 100%;
            @include fontsite(condensed,bold);
            @include fs(22);
            @include lh(10);
            text-align: center;
            // border-bottom: 1px solid $gray-30;
            padding: 15px 0px;
            background: $white;
            color:$gray-30;


            @include dohover(underline);
          }

          &.last {
            border-right: none;
          }

          &.active {
            a {
              background: $white;
              color: $first-color;
            }
          }
        }
      }

      display:block;
      clear:both;
      overflow:hidden;
    }

    .quicktabs_main {
      .quicktabs-tabpage {
        padding: 20px;
        border: 1px solid $gray-10;

        .views-summary {
          color: #fff;

          .result {
            a {
              font-size: 20px;
              padding: 0px 6px;
            }
          }
        }
      }
    }
  }
}

@mixin tonspion-charts-list($target:main){
  .view-content {
    & > div {
      margin-bottom: 10px;
      position:relative;
      height: $cols1 + 20;
    }
    .position {
        @include grid(1);
        @include alpha();
        width: $cols1 - 7;
        height: $cols1 - 8;
        @include fontsite(condensed,bold);
        @include fs(30);
        @include lh(13);
        color: $white;
        background: lighten($first-color,40);
        @include border-radius(100px);
        overflow: hidden;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top:14px;

        span {
          padding: 0;
          line-height: 51px;
          display: block;
          width: 100%;
          text-align: center;
        }
    }
    .ds-1col {
      @include grid(7);
      @include alpha();
      
      .field-name-views-count {
        @include grid(1);
        @include alpha();
        width: $cols1 - 20;
        height: $cols1;
        @include fontsite(condensed,bold);
        @include fs(16);
        @include lh(13);
        color: lighten($first-color,70);
        text-align:center;
        line-height: 78px;
      }
      .field-name-field-album-image {
        @include grid(1);
        width: $cols1 + 20;
        height: $cols1 + 20;
        overflow: hidden;
        position:absolute;
        top:0px;
        left:104px;

        img {
          @include responsive-img();
        }
      }
      .field-name-title {
        @include grid(5);
        position: absolute;
        top: 0px;
        left: 200px;
        height: $cols1 + 20;

        h3 {
          height: $cols1 + 20;
          @include fontsite(condensed,bold);
          @include fs(20);
          @include lh(13);
          display:table-cell;
          vertical-align:middle;

          a {
            color:$first-color;
            @include dohover(none,lighten($first-color,70));
          }
        }
      }
    }
  }
}

@mixin tonspion-media-list($target:main){
  @if $target == main {
    @include tonspion-reviews-list(content);

    .view-content {
      .views-row {
        margin-bottom: 30px;
        overflow: hidden;
      }
      .ds-2col {
        margin-bottom: 0px;
        .group-right{
          .field-name-field-media-section {
            @include tonspion-tag($target);
          } 
          .field-name-title {
            margin-top: 15px;
            h3 {
              @include fs(25);
            }
          }
          .field-name-field-media-street-subhead,
          .field-name-field-media-street-subhead a {
            @include fontsite(condensed,normal);
            @include fs(22);  
            @include lh(16);
            color: lighten($first-color,20);
          }
          .field-name-field-media-street-teasertext {
            margin-top: 15px;
            @include fontsite(condensed,light);
            @include fs(18);  
            @include lh(16);
            color: lighten($first-color,20);
            @include dohover(none,lighten($first-color,30));

            p {
              margin-bottom:0px;
            }
          }
          .field-name-node-link {
            a {
              margin-top:2px;
            }
          }
        }
      }
    }
  }
}

@mixin tonspion-video-size {
  & {
    iframe,
    object,
    embed {
     width: 620px;
     height: 354px;
     display: block;
     margin: 0px 0px 20px 0px;
    }
    iframe[src^="https://w.soundcloud.com"]{
      height: 166px;
    }
  }
}

@mixin tonspion-info-stacked {
  .ds-2col-stacked {
    .group-left{
      @include grid(2.8);
      @include width(2.8);
      @include alpha();
      overflow: hidden;
      padding-top: 0px;
      margin-bottom: 15px;
      img {
        @include responsive-img();
        @include height(2.8);
      }
    }
    .group-right{
      @include grid(5);
      @include omega();
      .field-name-field-news-type,
      .field-name-field-genre span {
        display: inline;
        float: left;
        margin-right: 10px;
        @include tonspion-tag(inner);
      }

      .field-name-title {
        color: $first-color;
        h3,
        h3 a,
        a {
          @include fs(22);
          @include lh(16);
          margin-bottom:6px;
          padding:0px;
          color: $first-color;
        }
      }
      .field-name-post-date,
      .field-name-field-album-redaction-rating {
        @include fontsite(condensed,bold);
        @include fs(15);
        @include lh(13);
        color: lighten($first-color,50);
        padding-top: 4px;
      }
      //.field-name-field-ref-artist {display:none;}
      .field-name-field-album-redaction-rating {display:none;}
      .field-name-title,
      .field-name-field-ref-artist {
        display:block;
        clear:both;
        margin-top: 15px;
        @include fs(25);
        @include fontsite(condensed,bold);
        h3 {
          @include fs(25);
          color: $first-color;
          @include fontsite(condensed,bold);
        }
        a {
          color: $first-color;
          @include fontsite(condensed,bold);
        }
        color: $first-color;
      }
      .field-name-field-secondheadline,
      .field-name-field-secondheadline a,
      .field-name-field-album-headline-review,
      .field-name-field-album-headline-review a {
        // Font Size Finetuning
        @include fontsite(condensed,light);
        @include fs(18);  
        @include lh(16);
        color: lighten($first-color,20); 
        // @include fontsite(condensed,light);
        // @include fs(22);  
        // @include lh(16);
        // color: lighten($first-color,20);
      }
      .field-name-field-news-teaser-text,
      .field-name-field-album-teaser-text {
        margin-top: 15px;
        // Font Size Finetuning
        @include fontsite(condensed,light);
        @include fs(18);  
        @include lh(16);
        color: lighten($first-color,20); 
        // @include fontsite(condensed,light);
        // @include fs(20);  
        // @include lh(14);
        // color: lighten($first-color,50);
        //@include dohover(none,lighten($first-color,50));
      }
    }
    &.node-news {
      .field-name-field-ref-artist {display:none}
    }
  }
}

@mixin tonspion-user-post {
  border-bottom: 2px solid $first-color;

  .group-left{
    @include grid(1.1);
    @include width(1.1);
    @include height(1.1);
    @include alpha();
    overflow: hidden;
    padding-top: 0px;
    margin-bottom: 0px;
    img {
      @include responsive-img();
    }
  }
  .group-right {
    @include grid(6);
    @include omega();
    position: relative;
    left: 0px;
    top: 15px;

    h4.label-above {
      @include fontsite(condensed,normal);
      @include fs(20);  
      @include lh(14);
      color: lighten($first-color,10);
      padding:0px;
      margin:0px;
    }
    .author .author{
      @include fontsite(condensed,bold);
      @include fs(20);  
      @include lh(14);
      color: $second-color;
      padding:0px 10px 0px 0px;
      margin:0px 10px 0px 0px;
      display:inline;
      float:left;
      border-right: 1px solid $first-color;
    }
    .field-name-field-company {
      @include fontsite(condensed,normal);
      @include fs(20);  
      @include lh(14);
      color: lighten($first-color,10);
      padding:0px;
      margin:0px;
    }
  }
}

@mixin tonspion-download-stream-box{
  & {
    @include fontsite(condensed,normal);
    @include fs(21);  
    @include lh(14);
    color: $first-color;

    .label-above {
      @include fontsite(condensed,bold);
      @include fs(21);  
      color: $second-color;
      margin-bottom: 7px;
    }

    .ds-1col {
      border:1px solid #cbd2d4;
      background: #edf1f2;
      padding: 0px;
      margin-bottom: 15px;
      display: table;
      height: 77px;
      position: relative;

      .field-name-title {
        @include grid(5);
        @include alpha();
        float:none;
        display: table-cell;
        vertical-align: middle;
        position:relative;
      }
      .field-name-code-mp3-audio-player {
        .wrapper-mp3-player {
          @include grid(1.5);
          float:none;
          display: table-cell;
          vertical-align: middle;
          @include fontsite(condensed,bold);
          @include fs(18); 
          color: $second-color;
          position: relative;
          padding-left: 0px;

          button {
            border: none;
            background: transparent;
            @include fontsite(condensed,normal);
            @include fs(18); 
            color: $second-color;
            display:block;
            width: 85px;
            height: 77px;
            background: transparent url("../img/bg_mp3player.png") no-repeat center top;
            text-indent: -9999px;
            opacity: 0.8;
            cursor: pointer;

            &:hover {
              opacity:1;
            }

            &.mp3-player-pause {
              background: transparent url("../img/bg_mp3player.png") no-repeat center bottom;

              // hide element. this element show with js
              display:none;
            }
          }

          &.playing {
            button.mp3-player-play {
              display:none;
            }
            button.mp3-player-pause {
              display:block;
            }
          }
          &.paused {
            button.mp3-player-play {
              display:block;
            }
            button.mp3-player-pause {
              display:none;
            }
          }

          &.no-player {
            display:block;
            width: 65px;
            height: 77px;
            background: transparent url("../img/bg_mp3player_off.png") no-repeat center top;
            opacity:0.3;
          }
        }
      }
      .field-name-html-mp3-download-link {
        @include grid(1.7);
        @include omega();
        float:none;
        display: table-cell;
        vertical-align: middle;
        @include fontsite(condensed,normal);
        @include fs(18); 
        color: $second-color;
        position: relative;
        padding-left: 40px;

        border-left: 1px solid #cbd2d4;

        @include insert-icon(icon-download, before);
        &:before {
          font-family: 'icomoon';
          position:absolute;
          left: 15px;
          top: 34%;
          color:lighten($first-color,50);
          font-size: 20px;
          cursor: pointer;
          font-weight: normal;
        }
        @include fontsite(condensed,normal);

        a {
          &:hover {
            text-decoration: underline;
            color:$second-color;
          }
        }
      }
    }
  }
}

@mixin tonspion-related-albums {
  & {
    position: relative;
    top: 0px;
    left: 0px;

    h2 {display:none;}

    .content {
      border-top: 1px solid lighten($first-color,70);
      border-bottom: 4px solid $first-color;
      padding: 0px;
      margin: 0px;
      height: 100px;
    }

    .ds-2col {
      position:relative;
      width:290px;
      height:80px;
      float:left;
      display:inline-block;
      overflow: hidden;
      @include fontsite(condensed,normal);
      @include fs(18); 
      color: $second-color;
      padding:0px;
      margin: 10px 0px 10px 11px;

      .group-left {
        display:block;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 20px;
        top: 10px;
        img {
         @include responsive-img();
        }
      }
      .group-right {
        width: 190px;
        position: absolute;
        top: 0px;
        left: 90px;
        display: table;
        height:80px;
        &,
        & a {
          @include fontsite(condensed,normal);
          @include fs(18); 
          color: $second-color;          
        }
        h3 {
          margin:0px;
          padding: 0px;
        }
        .field-name-title {
          display:table-cell;
          vertical-align: middle;
        }
      }
    }
    .views-slideshow-controls-bottom {
      padding: 0 !important;
      left: 0px !important;
      right: auto !important;
      width: 100% !important;
      top: 0px !important;
      position: static !important;
      display: block !important;
      clear: initial !important;
      margin: 0 !important;
      overflow: initial !important;
  
      .views-slideshow-controls-text-previous {
        position: absolute;
        left: 0px !important;
        top: 41% !important;
        z-index: 90;
      }
      .views-slideshow-controls-text-next {
        position: absolute;
        left: auto !important;
        right: 0px !important;
        top: 41% !important;
        z-index: 90;
      }
    }

    //
    .skin-default,
    .views-slideshow-cycle-main-frame {
      width: 100% !important;

      .views-slideshow-cycle-main-frame-row {
        width: 100% !important;

        .views-row {
          &:nth-child(2n+1) {
            .ds-2col {border-right: 1px solid lighten($first-color,70);}
          }
          &:nth-child(2n) {
            .ds-2col .group-left {left:auto; right:20px;}
            .ds-2col .group-right {left:15px;}
          }
        }
      }
    }
  }
}

@mixin tonspion-music-news-node-artist($target) {
  @include tonspion-news-list(content);
  overflow:hidden;

 .view-content {
    & > div {
      @include grid(2.65);
      &:nth-child(3n+1) {@include alpha();}
      &:nth-child(3n) {@include omega();}
    }
    .ds-2col {
      margin-bottom: 0px;
      @include grid(2.65);
      margin-bottom: 18px;
      position:relative;
      @include alpha();
      @include omega();

      .group-left {
        @include grid(2.65);
        @include height(2.65);
        margin-bottom: 8px;
        @include alpha();
        @include omega();
     
        img {
          @include responsive-img();
        }
      }
      .group-right {
        @include grid(2.65);
        @include alpha();
        @include omega();

        .field-name-field-ref-artist {display: none;}
        .field-name-field-album-headline-review {
          margin-top: 10px;
          @include fontsite(condensed,normal);
          @include fs(18);  
          @include lh(13);
          color: lighten($first-color,20);
        }
      }
    }
  }
}

@mixin tonspion-filter($which:genre, $top:0px, $right:0px){
  @if $which == genre {
    & {
      .dropdown_filter {
        position: absolute;
        top:$top;
        left:auto;
        right:$right;
        margin:0;
        padding:0;
        width: 170px;
        height: auto;
        z-index: 30;

        &,
        label {
          @include fontsite(condensed,medium);
          @include fs(19); 
          color: $first-color;
        }
        label.selected {
          margin:0;
          padding:0;
          background:$white;
          cursor: pointer;
          padding: 7px 50px 7px 9px;
          border:1px solid lighten($first-color,60);
          @include box-shadow(lighten($first-color,60) 2px 2px 2px );
          @include border-radius(5px);
          position:relative;
          overflow:hidden;
          width: 56px;
          
          &:hover {
             color: lighten($first-color,50) !important;
          }
          @include insert-icon(icon-triangle-bottom, after);
          &:after {
            font-family: 'icomoon';
            position:absolute;
            left: auto;
            top: 0px;
            right:0px;
            color:lighten($first-color,40);
            font-size: 10px;
            border-left:1px solid lighten($first-color,60);
            display:block;
            padding:13px 9px;
          }
          @include fontsite(condensed,bold);

          &.open {
            @include change-icon(icon-triangle-top, after);
            color: lighten($first-color,50) !important;
          }
        }
        .drop {
          margin:0;
          padding:0;
          padding: 7px 10px 7px 20px;
          border:1px solid lighten($first-color,60);
          border-top:none;
          @include box-shadow(lighten($first-color,60) 2px 2px 2px );
          @include border-radius(5px);
          background:$white;
          position:relative;
          top:-6px;
          left:-77px;
          width: 162px;
          overflow:hidden;

          div.form-type-bef-link {
            float: left;
            width: 60px;
            margin: 5px 10px;

            a {
              @include fontsite(condensed,normal);
              @include fs(17); 
              @include dohover(underline);
            }
          }
        }
      }
    }
  }
  @if $which == sortby {
    & {
      .sortby_filter {
        position: absolute;
        top:$top;
        left:auto;
        right:$right;
        margin:0;
        padding:0;
        width: auto;
        height: auto;
        z-index: 30;

        &,
        label {
          @include fontsite(condensed,medium);
          @include fs(19); 
          color: $first-color;
        }

        ul.sortby_list,
        ul.sortby_list li {
          @include reset-list();
        }
        label.sortby_titlefilter,
        ul.sortby_list,
        ul.sortby_list li {
          float:left;
          margin-right:10px;
        }
        ul.sortby_list li {
          a {
            @include fontsite(condensed,normal);
            color: lighten($first-color,60);
            @include dohover(underline);
            border-left: 1px solid lighten($first-color,60);
            padding-left: 10px;
          }

          &.sortby_list_item_0 {
            a {
              border-left: none;
              padding-left: 0px;
            }
          }

          &.selected {
            a {
              color: $second-color;
            }
          }
        }
      }
    }
  }
  @if $which == news-history {
    &.dropdown_filter {          
      position: absolute;
      top:$top;
      left:auto;
      right:$right;
      margin:0;
      padding:0;
      width: 170px;
      height: auto;
      z-index: 30;

      &,
      label {
        @include fontsite(condensed,medium);
        @include fs(19); 
        color: $first-color;
      }
      label.selected {
        margin:0;
        padding:0;
        cursor: pointer;
        padding: 0px 10px 0px 0px;
        position:relative;
        overflow:hidden;
        width: 118px;
        height: 24px;
        color: lighten($first-color,50);
        
        &:hover {
           text-decoration: underline;
           color: lighten($first-color,50) !important;
        }
        @include insert-icon(icon-triangle-bottom, after);
        &:after {
          font-family: 'icomoon';
          position:absolute;
          left: auto;
          top: 0px;
          right:0px;
          color:$first-color;
          font-size: 10px;
          display:block;
          padding: 6px;
        }
        @include fontsite(condensed,bold);

        &.open {
          @include change-icon(icon-triangle-top, after);
          color: $second-color !important;
        }
      }
      .drop {
        margin:0;
        padding:0;
        padding: 7px 10px 7px 20px;
        border:1px solid lighten($first-color,60);
        border-top:none;
        @include box-shadow(lighten($first-color,60) 2px 2px 2px );
        @include border-radius(5px);
        background:$white;
        position:relative;
        top:14px;
        left:-85px;
        width: 190px;
        overflow:hidden;

        li.year {
          margin-left: 7px;

          &.active a,
          a:hover {
            color: $first-color !important;
          }

          div.item-list-inside {
            position:absolute;
            top: 8px;
            left: 65px;

            a {
              color: lighten($first-color,50) !important;

              &:hover {
                color: $first-color !important;
              }

              &.active {
                color: $first-color !important;
              }
            }
          }
        }
      }
      a.filter_link {
        position:absolute;
        top:$top - 8;
        right:$right - 152;
        border-left: 1px solid lighten($first-color,60);
        padding-left: 10px;
        @include fontsite(condensed,bold);
        color: lighten($first-color,50);
      }
    }
  }
  @if $which == news-archive {
    & { 
      .archive_filter {
        #block-tonspion-tonspion-archive-filter {
          @include grid(2);
          @include alpha();

          @include fontsite(condensed,bold);
          @include fontsite(condensed,medium);
          @include fs(19); 
          
          ul.filter,
          ul.filter li {
            @include reset-list();
            text-align:right;            
          }

          ul.filter li.year {
            border-bottom: 1px solid lighten($first-color,60);
            padding-bottom: 10px;
            margin-bottom: 16px;

            a {
              @include fs(21);
              margin-bottom: 10px;
              display:block;
            }

            &.active a,
            a:hover {
              color: $second-color !important;
            }

            div.item-list-inside {
              a {
                color: lighten($first-color,50) !important;
                @include fs(18);

                &:hover {
                  color: $first-color !important;
                }

                &.active {
                  color: $first-color !important;
                }
              }
            }
          }
        }

        #block-system-main {
          @include grid(6);
          @include omega();

          .view-header {
            position: absolute;
            top:$top;
            left:auto;
            right:$right;
            margin:0;
            padding:0;
            width: 212px;
            height: auto;
            z-index: 30;

            @include fontsite(condensed,medium);
            @include fs(19); 
            color: lighten($first-color,50);
          }
        }
      }
    }
  }
}

@mixin tonspion-tablinks-content(){
  & {
    .content {
      ul.menu,
      ul.menu li {
        @include reset-list();
      }
      ul.menu {
        width:100%;
        clear:both;
        display:block;
        height:30px;
        overflow:hidden;
        border-bottom:1px solid lighten($first-color,70);

        li {
          float: left;
          width: auto;
          text-align: left;
          padding: 0px 30px 10px 30px;
          border-bottom: 4px solid $white;

          a {
            display:block;
            width: 100%;
            @include fontsite(condensed,bold);
            @include fs(22);
            @include lh(10);
            text-align: center;
            padding: 0px;
            color:$first-color;

            @include dohover(underline);
          }

          &.active {
            border-bottom: 4px solid $second-color;

            a {
              color: $second-color;
            }
          }
        }
      }

      display:block;
      clear:both;
      overflow:hidden;
    }
  }
}

@mixin tonspion-forms-overcontent(){
  & {
    ///de/artists/recent
    #block-views-exp-search-page-search-artists {
      background: $gray-10;
      padding:0px 0px 50px 0px;
      @include border-radius(8px);

      .content {
        padding:16px;
        border-bottom:1px solid $gray-20;

        label {
          @include fontsite(condensed,bold);
          @include fs(20);
          @include lh(26);
          color:lighten($first-color,20);
          display:inline-block;
          float:left;
          margin-right: 10px;
        }
        .views-widget {
          display:inline-block;
          float:left;

          input[type="text"] {
            @include box-shadow(none);
            height:30px;
            border:1px solid $gray-20;
            color:lighten($first-color,30);
            width: 442px;
          }
        }
        .views-submit-button {
          margin:0;
          padding:0;

          input[type="submit"] {
            @include box-shadow(none);
            height:41px;
            width: 60px;
            border:none;
            color:$white;
            background: $second-color url("../img/bg_search_2.png") no-repeat 22px 13px;
            @include border-radius(5px);
            text-indent: -9999px;
            margin:0;
            padding:0;
            position: relative;
            top: 7px;
            left: 0px;
            cursor: pointer;
          }
        }
      }
    }
    #block-system-main.block-system .view-artists {
      .attachment.attachment-before {
        position: absolute;
        top:-53px;
        left: 15px;

        @include fontsite(condensed,bold);
        @include fs(18);
        @include lh(10);
        color:$gray-10;

        a {
          color: lighten($first-color,20);
          padding:0;
          margin:0;
        }
      }
    }

    ///de/live
    #block-views-exp-events-page-concerts {
      background: $gray-10;
      padding:0;
      @include border-radius(8px);

      .content {
        padding:16px;

        label {
          @include fontsite(condensed,bold);
          @include fs(20);
          @include lh(26);
          color:lighten($first-color,20);
          display:inline-block;
          float:left;
          margin-right: 10px;
        }
        .views-widget {
          display:inline-block;
          float:left;

          input[type="text"] {
            @include box-shadow(none);
            height:30px;
            color:lighten($first-color,30);
            width: 193px !important;
            @include fontsite(condensed,normal);
            @include fs(20);
          }
        }
        .views-submit-button {
          margin:0;
          padding:0;

          input[type="submit"] {
            @include box-shadow(none);
            height:41px;
            width: 60px;
            border:none;
            color:$white;
            background: $second-color url("../img/bg_search_2.png") no-repeat 22px 13px;
            @include border-radius(5px);
            text-indent: -9999px;
            margin:0;
            padding:0;
            position: relative;
            top: 7px;
            left: 0px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@mixin tonspion-media-gallery {
  & {
    position: relative;
    border-bottom:1px solid lighten($first-color,70);
    padding-bottom: 20px;

    .view-header {
      h1.gallery-title {
        color: $first-color;
        @include fontsite(condensed,bold);
        @include fs(22);
        @include lh(18);
        margin:0px !important;
        padding:0px !important;
        border-bottom:none !important;
        text-align:left !important;
        text-transform:none !important;
      }
      h1.gallery-title span.gallery-subtitle {
        @include fontsite(condensed,normal);
        @include fs(20);
        @include lh(14);
        color: lighten($first-color,20);
        text-align:left;
        text-transform:none;
        display: block;
        clear: both;
      }
    }

    .views-slideshow-controls-top {
      position:relative;
      top:135px;
      left:0px;
      z-index: 70;
      width: 100%;

      .views-slideshow-controls-text-pause {display:none;}
      .views-slideshow-controls-text-previous,
      .views-slideshow-controls-text-next {
        display:block;
        width: 41px;
        height: 69px;
        overflow:hidden;
        position: absolute;
        top: 0px;
        left: 0px;

        a {
          display:block;
          width: 100%;
          height: 100%;
          padding: 100px;

          @include insert-icon(icon-arrow-left, before);
          &:before {
            font-family: 'icomoon';
            position:absolute;
            left: -13px;
            top: 0px;
            color:$second-color;
            font-size: 68px;
            cursor: pointer;
          }
          @include fontsite(condensed,normal);
          
          &:hover {
            &:before {
              color:lighten($second-color,10);
            }            
          }
        }
      }
      .views-slideshow-controls-text-next {
        left:auto;
        right: 0px;

        a {
          @include change-icon(icon-arrow-right, before);
        }
      }
    }
    .views_slideshow_cycle_main {
      // overflow: hidden;
      // height: 430px;
      .views-slideshow-cycle-main-frame-row {
        .gallery-media-text {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          // overflow:hidden;
          // height:95px;

          h2 {
            color: $first-color;
            @include fontsite(condensed,bold);
            @include fs(20);
            @include lh(16);
            margin:0;
            padding:0;
          }
          p {
            margin-top: 15px;

            // Font Size Finetuning
            @include fontsite(condensed,light);
            @include fs(18);  
            @include lh(16);
            color: lighten($first-color,20);            
            // @include fontsite(condensed,light);
            // @include fs(22);  
            // @include lh(16);
            // color: lighten($first-color,30);
          }
        }

        iframe,
        span.field-content,
        object,
        embed {
          display:block;
          width: 500px !important;
          height: 330px !important;
          position: relative;
          top: 0px;
          left: 64px;
          overflow: hidden;
        }
        span.field-content {
          img {
            display:block;
            margin: auto;
            position: relative;
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}

@mixin tonspion-labels {
  & {
   .view-content {
    margin-top: 20px;

    div {
      display:block;
      margin-bottom: 8px;
      margin-left: 8px;
      margin-right: 8px;
      width: 30%;
      float: left;
    }
   }
   .attachment {
    .view-content {
      margin-top: 0px;
      display:block;
      overflow:hidden;
      .views-summary {
        width: 100%;
        a {
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(10);
          color:$second-color;
        }
      }
    }
   }
  }
}

@mixin tonspion-taxonomies{
  & {
    .ds-2col {
      @include grid(8);
      @include alpha();
      @include omega();
      margin-bottom: 24px;

      .group-left{
        @include grid(3);
        @include alpha();
        width: $cols3;
        height: $cols3;
        overflow: hidden;
        padding-top: 0px;
        margin-bottom: 8px;
      }
      .group-right{
        @include grid(5);
        @include omega();

        .field-name-field-genre{
          span{
            @include tonspion-tag(content);
          }
          margin-bottom: 5px;
        }        
        .field-name-field-ref-artist,
        .field-name-title,
        .field-name-title h3,
        .field-name-title h3 a {
          margin:0;
          padding:0;
          color: $first-color;
          @include fontsite(condensed,bold);
          @include fs(24);
            @include lh(18);
          //text-transform: capitalize;
          @include dohover(underline);
        }
        .field-name-field-album-headline-review {
          @include fontsite(condensed,normal);
          @include fs(22);  
          @include lh(16);
          color: lighten($first-color,20);
          margin-bottom: 8px;
        }
        .field-name-code-album-stream-mp3 {
          @include fontsite(condensed,semibold);
          @include fs(16);  
          @include lh(13);
          color: lighten($first-color,50);
          span {
            color: $second-color;
          }
        }
        .field-name-field-album-teaser-text,
        .field-name-field-album-teaser-text a {
            @include fontsite(condensed,light);
            @include fs(18);
            @include lh(14);
            color: lighten($first-color,20);
            margin-bottom: 8px;
            margin-top: 4px;

            p {
              margin:0px 0px 7px 0px;
              padding:0px;
            }
        }
        .field-name-related-artists {
          @include fontsite(condensed,semibold);
          @include fs(16);  
          @include lh(13);
          color: lighten($first-color,50);
          span {
            color: $first-color;
          }
        }

        .field-name-node-link a {
          @include fs(18);
          @include lh(13);
        }
      }
    }
  }
}

@mixin tonspion-google-search {
  & {
    .gsc-adBlock {display: none;}
    
    .gsc-above-wrapper-area {
      padding:0px;

      table {
        margin-bottom: 0px;
      }

      .gsc-result-info {
        padding: 0;
        margin: 10px 0;

        @include fontsite(condensed,light);
        @include fs(18);
        @include lh(14);
        color: lighten($first-color,20);
      }
    }

    .gsc-wrapper {
      .gsc-result {
        margin-bottom: 18px;

        table {
          margin-bottom: 0px;
        }


        .gs-title,
        .gs-title a,
        .gs-title b {
          margin:0;
          padding:0;
          color: $first-color;
          @include fontsite(condensed,bold);
          @include fs(18);
          @include lh(13);
          //text-transform: capitalize;
          @include dohover(underline);
        }
        .gs-snippet {
          @include fontsite(condensed,normal);
          @include fs(18);
          @include lh(13);
          color: lighten($first-color,50);
          margin-bottom: 8px;

          p {
            margin:0px 0px 7px 0px;
            padding:0px;
          }
        }
        .gsc-url-bottom,
        .gsc-url-bottom a,
        .gsc-url-bottom a b,
        .gsc-url-bottom .gs-visibleUrl,
        .gsc-url-bottom .gs-visibleUrl b {
          color: lighten($first-color,20) !important;
          @include fontsite(condensed,normal);
          @include fs(16);
          @include lh(10);
          @include dohover(none,lighten($link-color,10));
          margin:8px 0px 0px 0px;
          padding: 0px;

          &.gs-visibleUrl-short {
            display: none;
          }
        }
        .gsc-url-bottom {
          display:block;
        }
      }

      .gsc-cursor-box {
        .gsc-cursor-page {
          @include fontsite(condensed,bold);
          @include fs(17);
          @include lh(15);
          //text-transform: capitalize;
          @include dohover(underline);
          padding:0 !important;
          margin:0 !important;
          width: auto;
          display: inline;
          float:left;
          line-height: 31px;
          margin: 0px 7px !important;
          background:$white;
          color: lighten($first-color, 50);
          margin:0px !important;
          width: 32px;
          height: 31px;
          border-top:1px solid lighten($first-color,70);
          border-bottom:1px solid lighten($first-color,70);
          border-left:1px solid lighten($first-color,70);
          border-right:1px solid lighten($first-color,70);
          color: lighten($first-color, 50);
          padding: 10px;
          text-align: center;
  
          &.gsc-cursor-current-page {
            border-right:none;
            background:$second-color;
            color: $fourth-color;
          }
        }        


        padding: 20px 0px 50px 0px !important;
        margin: 0 !important;
        display: table;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}

@mixin tonspion-suscribe-form {
  & {
    padding:40px 16px 16px 16px;
    position:relative;
    top: 30px;
    left: 0px;
    background: $gray-10;
    @include border-radius(8px);

    td {
      @include fontsite(condensed,bold);
      @include fs(20);
      @include lh(26);
      color:lighten($first-color,20);
      display:inline-block;
      float:left;
      margin-right: 10px;
    }

    tr {
      display:inline-block;
      float:left;

      input[type="text"] {
        @include box-shadow(none);
        height:33px;
        color:lighten($first-color,30);
        width: 193px !important;
        @include fontsite(condensed,normal);
        @include fs(20);
      }
      input[type="submit"] {
        @include box-shadow(none);
        height:45px;
        width: auto;
        border:none;
        color:$white;
        background: $second-color;
        @include border-radius(5px);
        margin:0;
        padding:0px 7px;
        position: relative;
        top: 0px;
        left: 0px;
        cursor: pointer;
        @include fontsite(condensed,normal);
        @include fs(18);
      }
    }
  }
}
