/* ======================================================================================================================== 
**
** Layout
**
** ======================================================================================================================== */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

// Base Styles & General styles
a {
  color: $link-color;
  text-decoration: $link-decoration;
  outline: 0;
  &:visited {
    color: $link-color-visited;
    text-decoration: $link-decoration;
    outline: 0;
  }
  &:hover, &:focus {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
}

#cboxOverlay {
  background: $black !important;
  opacity: 0.45 !important;
}

// Text
html {
  font-size:$default-fontsize-css;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  
  color: $text-color;
  // background-color: $body-background;
}
body {
  @include fs($default-fontsize);
  @include lh($default-fontsize);
  @include fontsite(condensed,normal);
  color:$text-color;
  background: $body-background;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
h1 {
  @include h1();
}
h2 {
  @include h2();
}
h3 {
  @include h3();
}
h4 {
  @include h4();
}
h5 {
  @include h5();
}
h6 {
  @include h6();
}

// Forms
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  @include fs;
  @include lh;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.25em;
  color: $text-color;
  border: 0;
  border-bottom: 1px solid $gray-70;
  small {
    @include fs;
    color: lighten($text-color,30%);
  }
}

label, input, button, select, textarea {
  @include fontsite(condensed,normal);
  @include fs(13);
  @include lh(13);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}


select, textarea {
  display: inline-block;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  color: $gray-60;
  @include fs;
  @include lh;  
  @include border-radius(4px);
}

input {
  &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    display: inline-block;
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    color: $gray-60;
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);
    @include border-bottom-left-radius(4px);
    @include border-bottom-right-radius(4px);
    border:1px solid $black;
  }
}

textarea {
  width:100%;
  height: auto;
  background-color: $white;
  border: 1px solid $gray-20;
  @include box-shadow(rgba($black, 0.2) 0px 0px 3px 0px inset);
  @include transition(all 0.2s ease);
}

input {
  &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    background-color: $white;
    border: 1px solid $gray-20;
    @include box-shadow(rgba($black, 0.2) 0px 0px 3px 0px inset);
    @include transition(all 0.2s ease);
  }
}

textarea:focus {
  border-color: rgba($link-color, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  @include box-shadow(rgba($link-color, 0.4) 0px 0px 6px 1px);
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus {
    border-color: rgba($link-color, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    @include box-shadow(rgba($link-color, 0.4) 0px 0px 6px 1px);
  }
}

input {
  &[type="text"].error, &[type="password"].error, &[type="datetime"].error, &[type="datetime-local"].error, &[type="date"].error, &[type="month"].error, &[type="time"].error, &[type="week"].error, &[type="number"].error, &[type="email"].error, &[type="url"].error, &[type="search"].error, &[type="tel"].error, &[type="color"].error {
    border:1px solid rgba($red, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    @include box-shadow(rgba($red, 0.5) 0px 0px 6px 1px);
  }
}

input {
  &[type="radio"], &[type="checkbox"] {
    margin: .25em 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
  }
  &[type="file"], &[type="image"], &[type="submit"], &[type="reset"], &[type="button"], &[type="radio"], &[type="checkbox"] {
    width: auto;
  }
}

select, input[type="file"] {
  height: 1.875em;
  /* In IE7,the height of the select element cannot be changed by height,only font-size */
  *margin-top: .25em;
  /* For IE7,add top margin to align select with labels */
  line-height: 1.875em;
}

select {
  background-color: $white;
  border: 1px solid $gray-20;
  &[multiple], &[size] {
    height: auto;
  }
  &:focus {
    outline: thin dotted $gray-70;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
    outline: thin dotted $gray-70;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}

input {
  &[type="radio"][disabled], &[type="checkbox"][disabled], &[type="radio"][readonly], &[type="checkbox"][readonly] {
    background-color: transparent;
  }
}


html, body {
  height: 100%;
}

ul.pager {
  @include tonspion-pager();
}
.views-slideshow-controls-bottom {
  @include tonspion-pager(slideshow);
}

// Structure
header.mastheader {
  position: fixed;
  z-index: 99;
  width: 100%;
  top:0px;

  #headertop-wrapper {
    width: 100%;
    background: $bandcolor-headertop;
    display:block;
    height:$headertop-height;
    overflow:hidden;
    color: $fourth-color;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    @include single-transition(all,0.9s,false,false);

    #brandhold {
        h1 {
          margin: 0;
          padding: 0;          
        }

        a {
          display:block;
          text-indent: -9999px;
          background: url($logo-path) no-repeat 0px 0px;
          width: $logo-width;
          height: $logo-height;
          cursor: pointer;
          margin-top: 10px;
          @include single-transition(all,0.5s,false,false);
        }
    }

    #headertop-inner {
      .region {
        position: relative;
        
        #block-views-exp-search-page-search,
        .block-search {
          position: absolute;
          top:0px;
          left:160px;
          width: 429px;
          background: $bandcolor-search;
          border-right: 1px solid $bandcolor-headerbottom;

          @include tonspion-search();
        }

        #block-system-user-menu {
          position:absolute;
          top:0px;
          left:429px;
          width: 150px;
          height: $headertop-height;
          border-right: 1px solid $bandcolor-headerbottom;
          padding-top: 10px;
          padding-right: 10px;

          ul.menu,
          ul.menu li {
            @include reset-list();
          }
          ul.menu {
            li {
              float: right;
              clear: both;

              a {
                font: 10px/17px $montserrat;
                color: $fourth-color;
                text-transform: uppercase;
                text-align: right;
                display: block;
                font-weight: 700;
              }

              &.first {
                a {
                  @include insert-icon(icon-user, before);
                  &:before {
                    font-family: 'icomoon';
                    position:absolute;
                    left: 0px;
                    top: 0px;
                    color: rgba($fourth-color,0.4);
                    font-size: 15px;
                  }
                  font: 14px/17px $montserrat;
                  padding-left: 23px;
                  color: $fourth-color;
                  text-transform: uppercase;
                  font-weight: 700;
                }
              }
            }
          }
        }

        #block-block-5,
        #piranhalink {
// TMP ******************************************
visibility:hidden;
// **********************************************

          display:block;
          width: 110px;
          height: $headertop-height;
          position: absolute;
          top: 0px;
          left: auto;
          right: 0px;
          padding: 0px;
          margin: 0px;
          border-right: 1px solid $bandcolor-headerbottom;
          @include single-transition(all,0.5s,false,false);

          a {
            display:block;
            width:100%;
            height: $headertop-height;
            text-indent: -9999px;
            background:url($img-path+"bg_logo_piranha.png") no-repeat top left;

            &:hover {
              background:url($img-path+"bg_logo_piranha.png") no-repeat bottom left;
            }
          }
        }
        #block-block-5 {
          border-right: none;
        }
      }
    }
  }

  #headerbottom-wrapper {
    width: 100%;
    background: $bandcolor-headerbottom;
    display:block;
    height:$headerbottom-height;
    overflow:hidden;
    color: $fourth-color;
    position: relative;
    top: 0px;
    left: 0px;
    @include single-transition(all,0.5s,false,false);

    .navigation-default {
      ul.menu,
      ul.menu li {
        @include reset-list();
      }

      ul.menu {
        //margin-top: 25px;
        margin-top: 12px;
        display: table;
        margin-left: auto;
        margin-right: auto;

        li {
          float: left;
          margin-right: 48px;

          &.last {
            margin-right: 0px;
          }

          a {
            font-size: 25px;
            font-weight: bold;
            color: rgba($fourth-color,0.6);
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &.active {
              text-decoration: none;
              color: rgba($fourth-color,1);
            }

            &.active {
              border-bottom: 3px solid $second-color;
            }
          }
        }
      }
    }
  }
  &.compress {
    #headertop-wrapper {
      height:$headertop-height-compress;

      #brandhold a {
        margin-top: 5px;
      }

      #headertop-inner .region #block-views-exp-search-page-search,
      #headertop-inner .region .block-search {
        .form-text {
          top: 3px;        
        }
        .form-submit {
          top: 12px;
        }
      }

      #headertop-inner .region #block-block-5,
      #headertop-inner .region #piranhalink {
        top: -2px;
      }
    }
  }
}

#maincontent.mastcontent {
  position: relative;
  margin-bottom: 40px;
  //padding-top: 170px;
  padding-top: 130px;

  #advicelink {
    display:block;
    width: 52px;
    height: 25px;
    position: absolute;
    top: -20px;
    left: auto;
    right: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 98;

    a {
      display:block;
      width:100%;
      height: 25px;
      text-indent: -9999px;
      background:url($img-path+"bg_logo_advice.png") no-repeat 0px 0px;

      &:hover {
        background:url($img-path+"bg_logo_advice.png") no-repeat 0px -26px;
      }
    }
  }

  #bannertop,
  #overcontent-wrapper,
  #content-wrapper {
    margin-bottom: 40px;
    position: relative;
  }

  #bannerright,
  #bannerleft {
    display:none;
    width: auto;
    height: auto;
    position: absolute;
    top:0px;
    left: 0px;
    z-index:70;
  }

  #sidebar-right {
    position: relative;

    .block {
      position: relative;
      margin-bottom:20px;

      h2 {
        @include tonspion-title-block();
      }
    }
  }

  #overcontent,
  #undercontent,
  #content {
    .block {
      position: relative;
      margin-bottom:20px;

      h2 {
        @include tonspion-title-block();
      }

      h2.album-review-h2 {
        margin-bottom: 15px;
        border: none;
        padding: 0;
        text-transform: none;
      }

      h2.media-text-h2 {
        color: $first-color;
        @include fontsite(condensed,bold);
        @include fs(20);
        @include lh(16);
        margin:0;
        padding:0;
      }
    }
    h1.title,
    h2.title,
    span#page-title {
      @include tonspion-title-block();
    }

    h1.news-h1 { /* H3 behavior */
      font-size: 25px;
      color: #2a2a2a;
      font-weight: 700;
      line-height: 25.6px;
    }

    h2.news-h2 { /* div.field-name-field-secondheadline behavior */
      font-weight: 300;
      font-size: 18px;
      line-height: 25.6px;
      color: #5d5d5d;
      border: none;
      text-transform: none;
    }

  }

}

footer.mastfooter {
  #footertop-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background: $bandcolor-footertop;
    display:block;
    height:auto;
    min-height:$footerbottom-height*5;
    overflow:hidden;
    color: $fourth-color;

    #footertop-inner 
      .block {
        &.block-menu {
          @include grid(6);
          @include alpha();

          ul,
          ul li {
            @include reset-list();
          }

          ul {
            li.expanded {
              @include grid(2);

              a {
                @include tonspion-title-footer();
                margin-bottom: 5px;
                text-decoration: none;
                display: block;

                &:hover {
                  text-decoration: underline;
                }
              }

              ul {
                li {
                  margin-bottom: 18px;

                  a {
                    color: $fourth-color;
                    @include fontsite(condensed,normal);
                    @include fs($default-fontsize);
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }

                    &.facebook {
                      @include insert-icon(icon-facebook, before);
                      &:before {
                        font-family: 'icomoon';
                        position:absolute;
                        left: 0px;
                        top: -1px;
                      }
                      @include fontsite(condensed,normal);
                      padding-left: 20px;
                      color: $fourth-color;
                    }
                    &.gplus {
                      @include insert-icon(icon-google-plus, before);
                      &:before {
                        font-family: 'icomoon';
                        position:absolute;
                        left: 0px;
                        top: 0px;
                      }
                      @include fontsite(condensed,normal);
                      padding-left: 20px;
                      color: $fourth-color;
                    }
                    &.twitter {
                      @include insert-icon(icon-twitter, before);
                      &:before {
                        font-size: 15px;
                        font-family: 'icomoon';
                        position:absolute;
                        left: 0px;
                        top: 0px;
                      }
                      @include fontsite(condensed,normal);
                      padding-left: 20px;
                      color: $fourth-color;
                    }
                  }
                }
              }
            }
            li.expanded.first {
              @include alpha();
            }
            li.expanded.last {
              @include omega();
            }
          }
        }
        
        &.block-block.lastchild {
          @include grid(6);
          @include omega();
          @include fs($default-fontsize);
          @include lh(10);

          p {
            margin-bottom: 15px;
            @include fs($default-fontsize);
            @include lh($default-fontsize);
          }

          h2 {
            @include tonspion-title-footer();
          }

        }
      }
  }
  #footerbottom-wrapper {
    width: 100%;
    background: $bandcolor-footerbottom;
    display:block;
    height:$footerbottom-height;
    overflow:hidden;

    .block {
      color: rgba($fourth-color,.5);

      .logolist {

// TMP ******************************************
visibility:hidden;
// **********************************************

        p {float: left;padding-top:25px;margin-right:10px;}
        ul,
        ul li {@include reset-list();}
        ul {
          li {
            float:left;
            padding-top: 8px;
            a {
              display:block;
              width: 74px;
              height: 51px;
              background:url($img-path+"partners.png") left top;
              text-indent: -9999px;
              margin-right: 6px;
            }

            &.last {
              margin-right: 0px;
            }

            &.juice {a {
              background:url($img-path+"partners.png") -10px 0px;
              width: 84px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -10px 51px;
              }
            }}
            &.spex {a {
              background:url($img-path+"partners.png") -94px 0px;
              width: 82px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -94px 51px;
              }
            }}
            &.groove {a {
              background:url($img-path+"partners.png") -178px 0px;
              width: 112px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -178px 51px;
              }
            }}
            &.rock {a {
              background:url($img-path+"partners.png") -294px 0px;
              width: 82px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -294px 51px;
              }
            }}
            &.riddim {a {
              background:url($img-path+"partners.png") -380px 0px;
              width: 82px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -380px 51px;
              }
            }}
            &.piranha {a {
              background:url($img-path+"partners.png") -470px 0px;
              width: 90px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -470px 51px;
              }
            }}
            &.rap {a {
              background:url($img-path+"partners.png") -570px 0px;
              width: 82px;
              height: 51px;

              &:hover {
                background:url($img-path+"partners.png") -570px 51px;
              }
            }}
          }
        }
      }
      .copyright {
        color:$fourth-color;
        padding-top: 25px;
      }
    }
  }
}


/* ==========================================================================
   Override Logged-in
   ========================================================================== */

body.logged-in header.mastheader #headertop-wrapper #headertop-inner {
  #block-views-exp-search-page-search,
  .block-search {
    left:0px;
  }
}

/* ========================================================================== */
