// ======================================================================================================================== 
//
// My Grid Generator
//
// ========================================================================================================================

//
// Configuration
//

$column: 60px;         // The column-width of your grid in pixels
$num_columns: 12;      // The number of column of your grid
$gutter: 10px;         // The gutter-width of your grid in pixels
$grid_width: 960px;    // Grid width


//
// Column-widths in variables, in px
//

 $cols1: (( 1 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols2: (( 2 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols3: (( 3 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols4: (( 4 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols5: (( 5 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols6: (( 6 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols7: (( 7 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols8: (( 8 * ($column + ($gutter * 2))) - ($gutter * 2));
 $cols9: (( 9 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols10: ((10 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols11: ((11 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols12: ((12 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols13: ((13 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols14: ((14 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols15: ((15 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols16: ((16 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols17: ((17 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols18: ((18 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols19: ((19 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols20: ((20 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols21: ((21 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols22: ((22 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols23: ((23 * ($column + ($gutter * 2))) - ($gutter * 2));
$cols24: ((24 * ($column + ($gutter * 2))) - ($gutter * 2));

//
// Column-widths in variables, in % - need development
//

//  $cols1_percent: (( 1 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols2_percent: (( 2 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols3_percent: (( 3 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols4_percent: (( 4 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols5_percent: (( 5 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols6_percent: (( 6 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols7_percent: (( 7 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols8_percent: (( 8 * ($column + ($gutter * 2))) - ($gutter * 2));
//  $cols9_percent: (( 9 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols10_percent: ((10 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols11_percent: ((11 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols12_percent: ((12 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols13_percent: ((13 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols14_percent: ((14 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols15_percent: ((15 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols16_percent: ((16 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols17_percent: ((17 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols18_percent: ((18 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols19_percent: ((19 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols20_percent: ((20 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols21_percent: ((21 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols22_percent: ((22 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols23_percent: ((23 * ($column + ($gutter * 2))) - ($gutter * 2));
// $cols24_percent: ((24 * ($column + ($gutter * 2))) - ($gutter * 2));

@mixin grid-container {
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
  	width: 95%;
  	margin-left: 2.5%;
  	margin-right: 2.5%;
  } @else {
    margin-left: auto;
    margin-right: auto;
    width: $grid_width;
  }
}

@mixin grid-width($n) {
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
    width:98.0%;
  } @else {
    width: (( $n * ($column + ($gutter * 2))) - ($gutter * 2));
  }
}

@mixin grid-unit-base {
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
  	display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
  } @else {
    display: inline;
    float: left;
    margin-left: $gutter;
    margin-right: $gutter;
  }
}

@mixin grid($n){
  @include grid-unit-base();
  @include grid-width($n);
}

@mixin alpha {
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
    margin-left: 1%;
  } @else {
    margin-left: 0;
  }
}

@mixin omega {
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
    margin-right: 1%;
  } @else {
    margin-right: 0;
  }
}

@mixin grid-prefix($n){
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
    padding-left: 0%;
  } @else {
    padding-left: ($n * ($column + ($gutter * 2)));
  }
}

@mixin grid-suffix($n){
  // 1 colum is mobile fullwidth format
  @if $num_columns == 1 {
    padding-right: 0%;
  } @else {
    padding-right: ($n * ($column + ($gutter * 2)));
  }
}

@mixin clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

@mixin width($n){
  width: (( $n * ($column + ($gutter * 2))) - ($gutter * 2));
}
@mixin height($n){
  height: (( $n * ($column + ($gutter * 2))) - ($gutter * 2));
}