/* ======================================================================================================================== 
**
** Wireframe inspired on Wirefy by Chris Da Sie [http://chrisdasie.com]
**
** ======================================================================================================================== */


/* Table of Content
==================================================
#Override vars and mixins
#Site Styles
	#Links
	#Images
	#Figures
	#Videos and other
	#Menus (TODO)
	#Blocks (TODO)
	#Breadcrumbs (TODO)
	#Pagination (TODO)
	#Pager (TODO)
	#Buttons
	#Tabs (TODO)
	#Tables
	#Forms
	#Gallery
	#Misc
*/

/* #Override vars and mixins
================================================== */
$body-background:        $white;
$content-background:     $white;
$text-color:             $gray-70;
$color-button:           $gray-20;
$color-text-button:      $gray-80;

$link-color:             $blue;
$link-color-visited:     $blue;
$link-color-hover:       darken($link-color, 15%);
$link-decoration:        none;
$link-decoration-hover:  underline;


/* #Links
================================================== */

html {
  color: $text-color;
  background-color: $body-background;
}
body {
  color:$text-color;
  background-color: $body-background;
}


/* #Links
================================================== */

a {
  color: $link-color;
  text-decoration: $link-decoration;
  outline: 0;
  &:visited {
    color: $link-color;
    text-decoration: $link-color;
    outline: 0;
  }
  &:hover, &:focus {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
}

p a {
  line-height: inherit;
  &:visited {
    line-height: inherit;
  }
}


/* #Images
================================================== */

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  display:block;
}

svg:not(:root) {
  overflow: hidden;
}

/* #Figures
================================================== */

figure {
  margin-bottom: 1.5em;
  img {
    margin-bottom: 0.375em;
  }
  figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    color: #808080;
  }
}


/* #Videos and Other Media
================================================== */
video{
	width:100%;
	}

/* #Menus
================================================== */

.navigation-default ul.menu {
  display: block;
  clear: both;
}
.navigation-default ul.menu,
.navigation-default ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-default ul.menu li {
  float: left;
  display: block;
  margin-left:4px;
  margin-right:4px;
  a {
    display: block;
    text-decoration: none;
    color: $link-color;
    background-color: transparent;
    font-weight: normal;
    padding:3px;
    &.active {
      color: $white;
      background-color: $link-color;
    }
  }
  &:hover {
    background-color: $gray-10;
    > a {
      color: $link-color;
    }
  }
  &:first-child {
    margin-left:0px
  }
}

footer ul.menu {
  display: block;
  clear: both;
}
footer ul.menu,
footer ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul.menu li {
  a {
    float: left;
    padding: 0 12px;
    display: block;
    border-right: 1px solid #555;
    border-color: rgba(255, 255, 255, 0.15);
  }
  &.first a {
    padding-left: 0;
  }
  &.last a {
    padding-right: 0;
    border-right: none;
  }
}

/* #Blocks
================================================== */

.block {
  display:block;
  clear:both;
}


/* #Breadcrumb
================================================== */

.breadcrumb {
  padding: .4375em .875em;
  margin: 0 0 1.125em;
  list-style: none;
  li {
    display: inline-block;
  }
  .divider {
    padding: 0 5px;
    color: #999;
  }
}

/* #Pagination
================================================== */

.pagination {
  height: 2.25em;
  margin: 1.125em 0;
  ul {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: .1875em;
    -moz-border-radius: .1875em;
    border-radius: .1875em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  li {
    display: inline;
  }
  a {
    float: left;
    padding: 0 .625em;
    line-height: 1.75em;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  .active a {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
  }
  .disabled {
    span {
      color: #999999;
      cursor: default;
      background-color: transparent;
    }
    a {
      color: #999999;
      cursor: default;
      background-color: transparent;
      &:hover {
        color: #999999;
        cursor: default;
        background-color: transparent;
      }
    }
  }
  li {
    &:first-child a {
      border-left-width: 1px;
      -webkit-border-radius: .1875em 0 0 .1875em;
      -moz-border-radius: .1875em 0 0 .1875em;
      border-radius: .1875em 0 0 .1875em;
    }
    &:last-child a {
      -webkit-border-radius: 0 .1875em .1875em 0;
      -moz-border-radius: 0 .1875em .1875em 0;
      border-radius: 0 .1875em .1875em 0;
    }
  }
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

/* #Pager
================================================== */

.pager {
  padding: 0;
  margin-bottom: 1.125em;
  margin-left: 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  li {
    display: inline;
  }
  a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: .9375em;
    -moz-border-radius: .9375em;
    border-radius: .9375em;
    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
  .next a {
    float: right;
  }
  .previous a {
    float: left;
  }
  .disabled a {
    color: #999999;
    cursor: default;
    background-color: #fff;
    &:hover {
      color: #999999;
      cursor: default;
      background-color: #fff;
    }
  }
}

/* #Buttons
================================================== */

input, select, button {
  cursor: pointer;
}

button {
    @include default-button($color-button,$color-text-button);
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
      @include default-button($color-button,$color-text-button);
  }
}

/* #Tabs
================================================== */

ul {
  &.tabs {
    display: block;
    margin: 0 0 1.25em 0;
    padding: 0;
    border-bottom: solid 1px $gray-20;
    li {
      display: block;
      width: auto;
      height: auto;
      padding: 0;
      float: left;
      margin-bottom: 0;
      margin-left: 0;
      a {
        padding-top: 4px;
        display: block;
        text-decoration: none;
        width: auto;
        height: 1.8125em;
        padding: 0px 1.25em;
        border: solid 1px $gray-20;
        border-width: 1px 1px 0 0;
        margin: 0;
        background: $gray-10;
        @include fs;
        @include lh;
        &.active {
          background: $white;
          height: 1.8125em;
          position: relative;
          padding-top: 4px;
          border-left-width: 1px;
          margin: 0 0 0 -1px;
          color: $link-color;
          @include border-top-radius(4px);
          margin-top: -5px;
        }
      }
      &:first-child a {
        &.active {
          margin-left: 0;
        }
        border-width: 1px 1px 0 1px;
      }
      &:last-child a {
      }
    }
  }
  &.tabs-content {
    margin: 0;
    display: block;
    > li {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &.tabs {
    &:before {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
    }
    zoom: 1;
  }
}

/* Clearfixing tabs for beautiful stacking */

/* Tables 
================================================== */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  th, td {
    padding: .5em;
    vertical-align: top;
    border-top: 1px solid #8c9bab;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5em;
    text-align: left;
  }
  th {
    font-weight: bold;
  }
  thead th {
    vertical-align: bottom;
  }
  colgroup + thead tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  thead:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  tbody {
    + tbody {
      border-top: 2px solid #8c9bab;
    }
  }
}


/* #Forms
================================================== */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  @include fs;
  @include lh;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.25em;
  color: $text-color;
  border: 0;
  border-bottom: 1px solid $gray-70;
  small {
    @include fs;
    color: lighten($text-color,30%);
  }
}

label, input, button, select, textarea {
  font-weight: normal;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}


select, textarea {
  display: inline-block;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  color: $gray-60;
  @include fs;
  @include lh;  
  @include border-radius(4px);
}

input {
  &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    display: inline-block;
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    color: $gray-60;
    @include fs;
    @include lh;  
    @include border-radius(4px);
  }
}

textarea {
  width:100%;
  height: auto;
  background-color: $white;
  border: 1px solid $gray-20;
  @include box-shadow(rgba($black, 0.2) 0px 0px 3px 0px inset);
  @include transition(all 0.2s ease);
}

input {
  &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
    background-color: $white;
    border: 1px solid $gray-20;
    @include box-shadow(rgba($black, 0.2) 0px 0px 3px 0px inset);
    @include transition(all 0.2s ease);
  }
}

textarea:focus {
  border-color: rgba($link-color, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  @include box-shadow(rgba($link-color, 0.4) 0px 0px 6px 1px);
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus {
    border-color: rgba($link-color, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    @include box-shadow(rgba($link-color, 0.4) 0px 0px 6px 1px);
  }
}

input {
  &[type="text"].error, &[type="password"].error, &[type="datetime"].error, &[type="datetime-local"].error, &[type="date"].error, &[type="month"].error, &[type="time"].error, &[type="week"].error, &[type="number"].error, &[type="email"].error, &[type="url"].error, &[type="search"].error, &[type="tel"].error, &[type="color"].error {
    border:1px solid rgba($red, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    @include box-shadow(rgba($red, 0.5) 0px 0px 6px 1px);
  }
}

input {
  &[type="radio"], &[type="checkbox"] {
    margin: .25em 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
  }
  &[type="file"], &[type="image"], &[type="submit"], &[type="reset"], &[type="button"], &[type="radio"], &[type="checkbox"] {
    width: auto;
  }
}

select, input[type="file"] {
  height: 1.875em;
  /* In IE7,the height of the select element cannot be changed by height,only font-size */
  *margin-top: .25em;
  /* For IE7,add top margin to align select with labels */
  line-height: 1.875em;
}

select {
  background-color: $white;
  border: 1px solid $gray-20;
  &[multiple], &[size] {
    height: auto;
  }
  &:focus {
    outline: thin dotted $gray-70;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

input {
  &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
    outline: thin dotted $gray-70;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}

input {
  &[type="radio"][disabled], &[type="checkbox"][disabled], &[type="radio"][readonly], &[type="checkbox"][readonly] {
    background-color: transparent;
  }
}


/* #Gallery
================================================ */



/* #Misc
================================================== */

/*-------------------------------------------------------------------------------------------------------------------------*/